{#<html>
<head>
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/reset.css" rel="stylesheet">
	<link href="/css/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<!--<script src="js/showmessages.js"></script>!-->
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
</head>
	<body>#}
	<div class="chatTabs">
		<div class="singleTab">Мой чат</div>
		<div class="singleInboxTab">
			<span>Входящий чат</span>
			<div class="numberOnTab">1</div>
			<div class="numberOnTab">2</div>
			<div class="numberOnTab">3</div>
		</div>
        {% for dialog in dialogs %}
            <div class="singleTab">
                {% if dialog.user1==curUser %}
                    {{ dialog.user2.getNick() }}
                {% else %}
                    {{ dialog.user1.getNick() }}
                {% endif %}
            </div>
        {% endfor %}
	</div>
	<div class="mainWindow">
		<div class="chat">
			<div style="width: 578px; 	border-right: 2px solid #465176">
				<div class="singleMessage">
					<div class="chatUsername">Светлана</div>
					<div class="messageText">Привет! Как дела? ривет! Как дела? ривет! Как дела? ривет! Как дела? ривет! Как дела? ривет! Как дела? ривет! Как дела?</div>
				</div>
				<div class="singleMessage">
					<div class="chatUsername">Светлана</div>
					<div class="messageText">Привет! Как дела? ривет! Как дела? ривет! Как дела? ривет! Как дела? ривет! Как дела? ривет! Как дела? ривет! Как дела?</div>
				</div>
				<div class="singleMessage">
					<div class="chatUsername">Светлана</div>
					<div class="messageText">Привет! Как дела? ривет! Как дела? ривет! Как дела? ривет! Как дела? ривет! Как дела? ривет! Как дела? ривет! Как дела?</div>
				</div>
				<div class="singleMessage">
					<div class="chatUsername">Светлана</div>
					<div class="messageText">Привет! Как дела? ривет! Как дела? ривет! Как дела? ривет! Как дела? ривет! Как дела? ривет! Как дела? ривет! Как дела?</div>
				</div>
				<div class="singleMessage">
					<div class="chatUsername">Светлана</div>
					<div class="messageText">Привет! Как дела? ривет! Как дела? ривет! Как дела? ривет! Как дела? ривет! Как дела? ривет! Как дела? ривет! Как дела?</div>
				</div>
			</div>
		</div>
		<div class="usersInChat">
			<div class="singleUser">
				<div class="singleUsername">Светлана</div>
				<div class="kickUser"></div>
			</div>
			<div class="singleUser">
				<div class="singleUsername">Игорь</div>
				<div class="kickUser"></div>
			</div>
			<div class="singleUser">
				<div class="singleUsername">Марина</div>
				<div class="kickUser"></div>
			</div>
			<div class="singleUser">
				<div class="singleUsername">Маша</div>
				<div class="kickUser"></div>
			</div>
			<div class="singleUser">
				<div class="singleUsername">Виктор</div>
				<div class="kickUser"></div>
			</div>
			<div class="singleUser">
				<div class="singleUsername">Сергей</div>
				<div class="kickUser"></div>
			</div>
			<div class="singleUser">
				<div class="singleUsername">Антон</div>
				<div class="kickUser"></div>
			</div>
		</div>
	</div>
	<div class="typeText">
		<div class="enterArea">
			<textarea class="chat-input" data-user="{{ curUser.getId() }}" data-nick="{{ curUser.getNick() }}"></textarea>
			<div class="switch"></div>
			<input class="chat-submit" type="checkbox" />
		</div>
		<div class="finishConversation">
			<input type="button" value="закончить
общение" />
		</div>
	</div>
{#
	</body>
 </html>#}
