<html> 
<head>
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/reset.css" rel="stylesheet">
	<link href="/css/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<!--<script src="js/showmessages.js"></script>!-->
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
</head>
	<body>
	<div class="dialogsWrapper">
		<div class="closeDialogWindow"><a href=""></a></div>
		<h2 class="dialogTitle">Диалоги</h2>
		<div class="singleDialog">
			<div class="dialogUsername">Катерина</div>
			<div class="messagesAmount">(1)</div>
			<div class="closeDialogs"><a href=""></a></div>
			<div class="spamDialogs"><a href=""></a></div>
		</div>
	</div>
	</body>
 </html>