{#<html>
<head>
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/reset.css" rel="stylesheet">
	<link href="/css/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<!--<script src="js/showmessages.js"></script>!-->
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
</head>
	<body>
		<div class="chatInviteWindow">
			<div class="closeInviteWindow"><a href=""></a></div>
			<h2 class="chatInviteTitle">Приглашения в чат</h2>#}
            {% for invite in invites %}
                <div class="singleInvite" data-invite="{{ invite.getId() }}">
                    <div class="InviteUsername">{{ invite.user1.getNick() }}</div>
                    <input type="button" class="decline-invite" value="отклонить" />
                    <input type="button" class="accept-invite" value="подтвердить" />
                </div>
            {% endfor %}
{#
		</div>
	</body>
 </html>#}
