<html> 
<head>
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/reset.css" rel="stylesheet">
	<link href="/css/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<!--<script src="js/showmessages.js"></script>!-->
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
</head>
	<body>
		<div class="chatInviteWindow">
			<div class="closeInviteWindow"><a href=""></a></div>
			<h2 class="chatInviteTitle">Приглашения в чат</h2>
			<div class="singleInvite">
				<div class="InviteUsername">Катерина</div>
				<input type="button" value="отклонить" />
				<input type="button" value="подтвердить" />
			</div>
		</div>
	</body>
 </html>