{% for invite in invites %}
    <div class="singleInvite" data-invite="{{ invite.getId() }}">
        <div class="InviteUsername">{{ invite.user1.getNick() }}</div>
        <input type="button" class="decline-invite" value="отклонить" />
        <input type="button" class="accept-invite" value="подтвердить" />
    </div>
{% endfor %}
