{% extends '::base.html.twig' %}
{% block content %}
    <h2 class="categoryH2">{{ title }}</h2>
	<div class="greeting">
		<p>&nbsp;&nbsp;&nbsp;&nbsp;Этот ресурс создан для быстрого поиска людей, обладающих нужными Вам знаниями. Здесь Вы можете найти интересных собеседников и обсуждать интересующие Вас вопросы. ADITUS сделает Вашу жизнь проще и сэкономит много времени </p>
		<p style="margin-top: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;На ADITUS Вы можете задать свой вопрос любому пользователю или группе специалистов из области вашего вопроса  в режиме онлайн и, оценив полученные ответы, выбрать подходящего собеседника для приватной беседы,  либо продолжить обсуждение в группе.  Это безусловно повысит эффективность использования интернета и сэкономит самый драгоценный ресурс – время.</p>
	</div>
{% endblock %}