{% extends '::base.html.twig' %}
{% block content %}
    <h2 class="categoryH2">{{ title | trans }}</h2>
<div style="overflow: auto;width: 704px;margin: 0 auto;height: 784px;" class=WordSection1>

{% trans %}agreement_bigtext{% endtrans %}

</div>
{% endblock %}