{% extends '::base.html.twig' %}
	{% block content %}
	<script type="text/javascript">
		//$(document).ready(function() {
		//	$('#showQuestion').on('click', '.closeButton', function(){
		//		var id = $(this).closest('.singleQuestion').attr('id');
		//		id = id.replace('question_', '');
		//		$(this).closest('.singleQuestion').fadeOut(800, function(){$(this).remove();});
		//	});
		// });!
	</script>
		<h2 class="categoryH2">Category name</h2>
		<div id="showQuestion">
			<!--{% for item in questions %}
				<div class="singleQuestion">
					<div class="userName">{{ item.user }}</div>
					<div class="questionDate">{{ item.datetime|date('H:i:s d.m.Y') }}</div>
					<div class="closeButton"></div>
					<div style="clear: both;"></div>
					<div class="questionText">
					{{ item.text }}
						<div class="socialIcons">
							<div class="spamButton"></div>
							<div class="likeButton"></div>
							<div class="repostButton"></div>
							<form class="answer">
								<input class="answerButton" type="submit" value="ответить" />
							</form>
						</div>
					</div>
				</div>
			{% endfor %}!-->
		</div>
	{% endblock %}