{% extends '::base.html.twig' %}
	{% block content %}
		<h2 class="categoryH2">Category name</h2>
		<div class="singleQuestion">
			<div class="userName">username</div>
			<div class="questionDate">18.01.2012 19:21</div>
		</div>
	{% endblock %}