{% extends '::base.html.twig' %}
{% block content %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".toggle-pay-window").click(function(){
                var pay_window = $(".payWindow");
                pay_window.show();
                if ($(this).is('.pay-by-emoney')){
                    pay_window.find('h3').text('Оплата электронными деньгами');
                } else if ($(this).is('.pay-by-sms')){
                    pay_window.find('h3').text('Оплата через смс');
                }
                return false;
            });
            $(".closePayWindow a, .pay-cancel").click(function(){
                $(".payWindow").hide();
                return false;
            });
            $("#CreditsAmount").change(function(){
                $("#OutSum").attr('value', $(this).val()*$("#creditCurrency").val());
            });
            $("#robo-submit").click(function(){
                $.ajax({
                    url: '/pay/prepare',
                    type: 'post',
                    data: {
                        InvId: $("#InvId").val(),
                        OutSum: $("#OutSum").val()
                    },
                    success: function(response){
                        $("#roboform").submit();
                    }
                });
                $(this).after('<span class="robo-hint">Загрузка...</span>');
                return false;
            });
        });
    </script>
    <h2 class="categoryH2">{{ title }}</h2>
    <div>
        {% raw %}
            Кредиты - это внутренняя виртуальная денежная единица нашего
            сайта. Каждый пользователь имеет свой виртуальный кошелёк, на
            котором на момент регистрации анкеты имеется 10 кредитов.
            При желании он может пополнить кошелёк способами, указанными
            ниже, при пополнении кошелька 1 кредит эквивалентен
            1 российскому рублю.
            Кредитами можно оплачивать различные сервисы нашего сайта.
            Кредиты нельзя вывести с сайта (обналичить), потому что кредиты
            не являются платёжным денежным средством.
            Способы пополнения счета:
            <div>
                <a href="#" class="toggle-pay-window pay-by-emoney">Электронными деньгами</a>
            </div>
            <div>
                <a href="#" class="toggle-pay-window pay-by-sms">Через СМС</a>
            </div>
            Дополнительно:
            На Ваш счет поступает по1 кредиту за каждую положительную
            оценку Ваших вопросов и ответов.
            Платные функции на сайте:
            - закрыть вопрос
            - удалить вопрос
            - увеличить число ответов на вопрос
            (стоимость 5 кредитов) - пользователь
            не видит ответы других пользователей после отправки
            своего ответа на Ваш вопрос.
            (стоимость 5 кредитов) - вопрос и ответы
            на него перестают существовать на сайте, независимо от
            того, был ли он добавлен в закладки другими
            пользователями.
            - автоматическое
            закрытие вопроса происходит после его наполнения
            необходим количеством ответов.
            50 ответов - 5 кредитов
            100 ответов - 10 кредитов
            1000 ответов - 50 кредитов
        {% endraw %}
    </div>
    <div class="payWindow" style="display:none;">
        <div class="closePayWindow"><a href=""></a></div>
        <h3>{% trans %}Кредиты{% endtrans %}</h3>
        {{ roboform|raw }}
    </div>
    {% if app.request.get('fail') %}
        <script type="text/javascript">
            alert('Возникла ошибка в процессе оплаты. Попробуйте снова.');
        </script>
    {% endif %}
{% endblock %}

