{% extends '::base.html.twig' %}
{% block content %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".toggle-pay-window").click(function(){
                $(".payWindow").toggle();
                return false;
            });
            $(".closePayWindow a").click(function(){
                $(".payWindow").hide();
                return false;
            });
        });
    </script>
    <h2 class="categoryH2">{{ title }}</h2>
    <div>
        Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто. Текст о том, почему покупать кредиты - это круто.
        <div>
            <a href="#" class="toggle-pay-window">Купить кредиты</a>
        </div>
    </div>
    <div class="payWindow" style="display:none;">
        <div class="closePayWindow"><a href=""></a></div>
        <h3>{% trans %}Окно оплаты{% endtrans %}</h3>

    </div>
{% endblock %}