{% extends '::base.html.twig' %}
{% block content %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".toggle-pay-window").click(function(){
                var pay_window = $(".payWindow");
                pay_window.show();
                if ($(this).is('.pay-by-emoney')){
                    pay_window.find('h3').text('Оплата электронными деньгами');
                } else if ($(this).is('.pay-by-sms')){
                    pay_window.find('h3').text('Оплата через смс');
                }
                return false;
            });
            $(".closePayWindow a, .pay-cancel").click(function(){
                $(".payWindow").hide();
                return false;
            });
            $("#CreditsAmount").change(function(){
                $("#OutSum").val($(this).val()*$("#creditCurrency").val());
            });
        });
    </script>
    <h2 class="categoryH2">{{ title }}</h2>
    <div style="width: 700px;margin: 0 auto;">
        {% raw %}
				<div class=WordSection1>
					<p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
					style='font-size:16.0pt;font-family:"Cambria","serif";mso-ansi-language:RU'><o:p>&nbsp;</o:p></span></b></p>

					<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
					text-indent:1.0cm'><span style='font-size:14.0pt;font-family:"Cambria","serif";
					mso-ansi-language:RU'><span style="font-weight: bold;">Кредиты</span> - это внутренняя виртуальная денежная единица
					нашего сайта. Каждый пользователь имеет свой виртуальный кошелёк, на котором на
					момент регистрации анкеты имеется 10 кредитов. При желании Вы можете пополнить
					кошелёк способами, указанными ниже, при пополнении кошелька 1 кредит
					эквивалентен 1 российскому рублю.<o:p></o:p></span></p>

					<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
					text-indent:1.0cm'><span style='font-size:14.0pt;font-family:"Cambria","serif";
					mso-ansi-language:RU'>Кредитами можно оплачивать различные сервисы нашего
					сайта.<o:p></o:p></span></p>

					<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
					text-indent:1.0cm'><span style='font-size:14.0pt;font-family:"Cambria","serif";
					mso-ansi-language:RU'>Кредиты нельзя вывести с сайта (обналичить), потому что
					кредиты не являются платёжным денежным средством.<o:p></o:p></span></p>
					
					<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
					text-indent:1.0cm'><span style='font-size:14.0pt;font-family:"Cambria","serif";
					mso-ansi-language:RU'><span style="font-weight: bold;">Способы пополнения счета:</span><o:p></o:p></span></p>

					<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
					text-indent:1.0cm'><u><span style='font-size:14.0pt;font-family:"Cambria","serif";
					mso-ansi-language:RU'><a href="#" class="toggle-pay-window pay-by-emoney">Электронными деньгами</a><o:p></o:p></span></u></p>

					<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
					text-indent:1.0cm'><u><span style='font-size:14.0pt;font-family:"Cambria","serif";
					mso-ansi-language:RU'><a href="#" class="toggle-pay-window pay-by-sms">Через СМС</a><o:p></o:p></span></u></p>
					
					<p class=MsoNormal><span style='font-size:14.0pt;font-family:"Cambria","serif";
					mso-ansi-language:RU'><o:p>&nbsp;</o:p></span></p>

					<p class=MsoNormal><span style='font-size:14.0pt;font-family:"Cambria","serif";
					mso-ansi-language:RU'>На Ваш счет поступает по<span class=GramE>1</span>
					кредиту за каждую положительную<o:p></o:p></span></p>

					<p class=MsoNormal><span style='font-size:14.0pt;font-family:"Cambria","serif";
					mso-ansi-language:RU'>оценку Ваших вопросов и ответов.<o:p></o:p></span></p>

					<p class=MsoNormal><span style='font-size:14.0pt;font-family:"Cambria","serif";
					mso-ansi-language:RU'><o:p>&nbsp;</o:p></span></p>

					<p class=MsoNormal style='text-indent:1.0cm'><span style='font-size:14.0pt;
					font-family:"Cambria","serif";mso-ansi-language:RU'><span style="font-weight: bold;">Платные функции на сайте:</span><o:p></o:p></span></p>

					<p class=MsoNormal><span style='font-size:14.0pt;font-family:"Cambria","serif";
					mso-ansi-language:RU'>- закрыть вопрос (стоимость 5 кредитов) - пользователь<o:p></o:p></span></p>

					<p class=MsoNormal><span style='font-size:14.0pt;font-family:"Cambria","serif";
					mso-ansi-language:RU'><span style='mso-spacerun:yes'>  </span>не видит ответы
					других после отправки своего ответа на Ваш вопрос.<o:p></o:p></span></p>

					<p class=MsoNormal><span style='font-size:14.0pt;font-family:"Cambria","serif";
					mso-ansi-language:RU'>- удалить вопрос (стоимость 5 кредитов) - вопрос и ответы<o:p></o:p></span></p>

					<p class=MsoNormal><span style='font-size:14.0pt;font-family:"Cambria","serif";
					mso-ansi-language:RU'><span style='mso-spacerun:yes'>  </span>на него перестают
					существовать на сайте.<o:p></o:p></span></p>

					<p class=MsoNormal><span style='font-size:14.0pt;font-family:"Cambria","serif";
					mso-ansi-language:RU'>- увеличить число ответов на вопрос - автоматическое <o:p></o:p></span></p>

					<p class=MsoNormal><span style='font-size:14.0pt;font-family:"Cambria","serif";
					mso-ansi-language:RU'><span style='mso-spacerun:yes'>  </span>закрытие вопроса
					происходит после его наполнения <o:p></o:p></span></p>

					<p class=MsoNormal><span style='font-size:14.0pt;font-family:"Cambria","serif";
					mso-ansi-language:RU'><span style='mso-spacerun:yes'>  </span><span
					class=GramE>необходим</span> количеством ответов.</span><span lang=EN-US
					style='font-size:14.0pt;font-family:"Cambria","serif"'><o:p></o:p></span></p>

					<p class=MsoNormal><span lang=EN-US style='font-size:14.0pt;font-family:"Cambria","serif"'><o:p>&nbsp;</o:p></span></p>

					<p class=MsoNormal><span style='font-size:14.0pt;font-family:"Cambria","serif";
					mso-ansi-language:RU'><span style='mso-spacerun:yes'>         </span>50 ответов
					- 5 кредитов<o:p></o:p></span></p>

					<p class=MsoNormal><span style='font-size:14.0pt;font-family:"Cambria","serif";
					mso-ansi-language:RU'><span style='mso-spacerun:yes'>       </span>100 ответов
					- 10 кредитов<o:p></o:p></span></p>

					<p class=MsoNormal><span style='font-size:14.0pt;font-family:"Cambria","serif";
					mso-ansi-language:RU'><span style='mso-spacerun:yes'>     </span>1000 ответов -
					50 кредитов</span><span lang=EN-US style='font-family:"Cambria","serif"'><o:p></o:p></span></p>
				</div>
        {% endraw %}
    </div>
    <div class="payWindow" style="display:none;">
        <div class="closePayWindow"><a href=""></a></div>
        <h3>{% trans %}Кредиты{% endtrans %}</h3>
        {{ roboform|raw }}
    </div>
{% endblock %}

