{% extends '::base.html.twig' %}
{% block content %}
{% if error %}
    {{ error.message }}
{% endif %}
    <form action="{{ path('change_password') }}" method="post">
        <input type="hidden" name="id" value="{{ id }}" />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="" />

        <label for="cpassword">Confirm password:</label>
        <input type="password" id="cpassword" name="cpassword" />

        <input type="submit" name="change" />
    </form>
{% endblock %}