{% extends '::base.html.twig' %}
{% block content %}
<div class="forgotPassword-window">
<h2 class="forgot-password-tittle">Введите адрес электронной почты</h2>
<form action="{{ path('forgot_password') }}" method="post">
    <input type="text" id="email" name="email" value="" />
    <p class="forgot-explanation">По этому адресу будут отправлены Ваши регистрационные данные.</p>
    <a href="/" class="forgot-cancel">отмена</a>
    <input class="forgot-submit" type="submit" name="accept" value="отправить" />
</form>
</div>
{% endblock %}