{% extends '::base.html.twig' %}
{% block content %}
<form action="{{ path('forgot_password') }}" method="post">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" value="" />
    <input type="submit" name="accept" />
</form>
{% endblock %}