{% extends '::base.html.twig' %}
{% block content %}
    <h2 class="categoryH2">Cтатья</h2>
    <form action="" method="post" {{ form_enctype(form) }} id="article-form">
        {{ form_widget(form) }}

        <input type="submit" id="submit-article" />
    </form>
	<script>
	$().ready(function() {
		var opts = {
			cssClass : 'el-rte',
			// lang     : 'ru',
			height   : 150,
			toolbar  : 'complete',
			cssfiles : ['/css/elrte-inner.css']
		}
		$('#article_text').elrte(opts);
	})
   </script>
{% endblock %}