  
#wrapper {
	width: 960px;
	margin: 0 auto;
	outline: 1px solid #A33A1C;
	padding-top: 1px;
	overflow: hidden;
}

#header {
	width: 100%;
	overflow: hidden;
    position: relative;

}

.logo {
	width: 300px;
	height: 80px;
	background: url(/i/logo.png) no-repeat;
	background-size: 100%;
	margin-top: 5px;
	float: left;
}

.logo a{
	display: block;
	width: 288px;
	height: 78px;	
	cursor: pointer;
}

#header-srvmsg {
    float: left;
    width: 380px;
    position: relative;
    left: 49px;
    top: 18px;
    height: 60px;
    overflow: hidden;
}


.messagesFromAdministration {
	width: 185px;
	height: 79px;
	outline: 1px solid black;
	float: left;
	margin: 7px 0 0 10px;

}

.language {
	float: left;
	overflow: hidden;
	margin: 9px 0 0 862px;
	padding: 1px;
    position: absolute;
}

.language a:hover {
	border: 1px solid #000;
}

.russian {
	margin-right: 4px;
	float: left;
}

.russian a {
	display: block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(/i/RU1.jpg) no-repeat;
	background-size: 100%;
	border: 1px solid #7b7b7b;
	border-radius: 5px;
}



.english {
	margin-right: 4px;
	float: left;
}

.english a {
	display: block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(/i/EN1.jpg) no-repeat;
	background-size: 100%;	
	border: 1px solid #7b7b7b;
	border-radius: 5px;
}

.portuguese {
	margin-right: 4px;
	float: left;
}

.portuguese a {
	display: block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(/i/PT1.jpg) no-repeat;
	background-size: 100%;
	border: 1px solid #7b7b7b;
	border-radius: 5px;
}

.users {
	width: 232px;
	float: right;
	margin: 37px 46px 8px 0px;
	overflow: hidden;
}

.users p {
	text-align: right;
	margin: 0;
	padding: 0;
	font-family: 'Candara';
	font-size: 20px;
	color: #495677;
}

.users span {
	text-align: right;
	margin: 0;
	padding: 0;
	font-family: 'Cambria';
	font-size: 20px;
	color: #495677;
}

.users span.online {
	text-align: right;
	margin: 0;
	padding: 0;
	font-family: 'Candara';
	font-size: 20px;
	color: #495677;
	margin-right: 21px;
	margin-left: 5px;
}

.users span.onSite {
	text-align: right;
	margin: 0;
	padding: 0;
	font-family: 'Candara';
	font-size: 20px;
	color: #495677;
	margin-left: 5px;
}

#nav {
	width: 726px;
	height: 30px;
	border: 3px solid #CC2A03;
	border-radius: 7px;
	margin-top: 4px;
	float: left;
	overflow: hidden;
}


#nav .orderQuestions {
	width: 250px;
	height: 30px;
	border-right: 2px solid #CC2A03;
	float: left;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	line-height: 100%;
}

#nav .orderQuestions a {
	display: block;
	width: 235px;
	height: 30px;
	cursor: pointer;
	text-decoration: none;
	color: #333;
	font-family: 'Candara';
	font-size: 24px;
}

#nav .orderQuestions a:hover {
	color: #3b3ffd;
}


#nav .categoryQuestions {
	width: 236px;
	height: 30px;
	border-right: 2px solid #CC2A03;
	float: left;
	font-size: 24px;
	text-align: center;
	line-height: 100%;
	background-color: #EFEFEF;
}

#nav .categoryQuestions a {
	display: block;
	width: 236px;
	height: 30px;
	cursor: pointer;
	text-decoration: none;
	color: #333;
	font-family: 'Candara';
	font-size: 24px;
}

#nav .categoryQuestions a:hover {
	color: #3b3ffd;
}

#nav .expressQuestions {
	width: 236px;
	height: 30px;
	float: left;
	font-size: 24px;
	text-align: center;
	line-height: 100%;
	background-color: #EFEFEF/*#FFB475*/;
}

#nav .expressQuestions a {
	display: block;
	width: 236px;
	height: 30px;
	cursor: pointer;
	text-decoration: none;
	color: #333;
	font-family: 'Candara';
	font-size: 24px;
}

#nav .expressQuestions a:hover {
	color: #3b3ffd;
}


.usersProfile {
	width: 220px;
	height: 90px;
	border: 3px solid #CC2A03;
	border-radius: 7px;
	float: right;
	margin-top: 4px;
}

.usersProfile p.name {
	display: block;
	width: 123px;
	height: 21px;
	margin: 5px 0 0 5px;
	float: left;
	color: #57526A;
	font-size: 18px;
}

.usersProfile p.credits {
	display: block;
	width: 62px;
	margin: 22px 0 0 5px;
	float: left;
	text-align: center;
	line-height: 110%;
}

.usersProfile p.credits a {
	color: #495677;
	text-decoration: none;
	font-family: 'Cambria';
}

.usersProfile p.credits a:hover {
	color: #3b3ffd;
	cursor: pointer;
}


.usersProfile form.profileNavigation {
	width: 80px;
	float: right;
	text-align: right;
	margin-right: 5px;
	margin-top: 1px;
}

.usersProfile form.profileNavigation input, .usersProfile form.profileNavigation a {
	border: 1px solid #7b7b7b;
	color: #333;
	border-radius: 5px;
	background-color: #EFEFEF;
	cursor: pointer;
	font-weight: bold;
    text-decoration: none;
    font-size: 13px;
    padding: 1px 6px;
    margin: 2px;
    display: inline-block;
}

.usersProfile form.profileNavigation input:hover, .usersProfile form.profileNavigation a:hover {
	border: 1px solid #000;
	color: #000;
}

.usersProfile p.myQuestions {
	overflow: hidden;
	float: right;
	margin-right: 10px;
	height: 18px;
}

.usersProfile p.myQuestions a {
	text-align: right;
	color: #495677;
	text-decoration: none;
	font-family: 'Candara';
	font-size: 16px;
}
.usersProfile p.myQuestions a:hover {
	color: #3b3ffd;
}


#menu {
	width: 220px;
	height: 800px;
	border: 3px solid #CC2A03;
	border-radius: 7px;
	float: right;
	margin-top: 3px;
	position: relative;
}

#menu ul.menuNavigation {
	width: 192px;
	margin: 10px auto;

}

#menu ul.menuNavigation li {
	width: 192px;
	height: 39px;
	text-align: center;
	line-height: 150%;
	border: 1px solid #EFEFEF;
	border-radius: 5px;
	margin-top: 2px;
	background-color: #fff;
	text-transform: uppercase;
	font-size: 26px;
	cursor: pointer;
	font-family: 'Cambria';
	color: #383838;
}

#menu ul.menuNavigation li a.menuNavigationLink {
	text-transform: uppercase;
	font-size: 26px;
	cursor: pointer;
	font-family: 'Cambria';
	text-decoration: none;
	color: #383838;
}

#menu ul.menuNavigation li:hover {
	background-color: #ffebdb;
}

#menu ul.menuNavigation li.chatInvite {
	width: 166px;
	height: 18px;
	text-align: center;
	margin-top: 5px;
	background-color: #e6e6e6;
	border: 1px solid #e6e6e6;
	text-transform: uppercase;
	font-size: 14px;
	cursor: pointer;
	display: block;
	margin: 5px auto;
	font-family: 'Candara';
	color: #333;
}

/*#menu ul.menuNavigation li.chatInvite.indicate {*/
    /*background-color: #000000;*/
    /*color: #ff0000;*/
/*}*/

#menu ul.menuNavigation li.chatInvite:hover {
	color: #000;
	border: 1px solid #000;
}

#menu ul.menuNavigation li ul.subMenuNavigation {
  display:none;
  position:absolute;
  z-index:100;
  width:180px;
  background-color: #ffebdb;
  margin-left: 5px;
}

#menu ul.menuNavigation li:hover ul.subMenuNavigation  {
  display: block;
}

#menu ul.menuNavigation li ul.subMenuNavigation li {
	width: 180px;
	height: 18px;
	text-align: center;
	border: none;
	border-radius: none;
	background-color: #ffebdb;
	cursor: pointer;
	line-height: 100%;
	font-size: 16px;
    position: relative;
}

#menu ul.menuNavigation li ul.subMenuNavigation li a:hover {
	background-color: #ffebdb;
	color: #3b3ffd;
}

#menu ul.menuNavigation li ul.subMenuNavigation li a {
	color: #383838;
	text-decoration: none;
	cursor: pointer;
	text-transform: none;
	font-family: 'Cambria';
	font-size: 16px;
	display: block;
	width: 180px;
}

#menu ul.menuNavigation li ul.subMenuNavigation li a.delete-link {
    display: block;
    position: absolute;
    height: 7px;
    width: 7px;
    background: url(../i/delete-link.png) no-repeat;
    right: 6px;
    top: 6px;
}

#menu ul.menuNavigation li ul.subMenuNavigation li a.delete-link:hover {
    background: url(../i/delete-link-hover.png) no-repeat;
}

#menu ul.menuNavigation li ul.subMenuNavigation li a.add-bookmark {
	font-family: 'Calibri';
	font-size: 12px;
	color: #000;
	font-weight: bold;
}

#menu ul.menuNavigation li ul.subMenuNavigation li a.add-bookmark:hover {
	color: #3b3ffd;
	background-color: #fdf5ef;
}

#menu ul.menuNavigation li ul.subMenuNavigation li.add-bookmark-wrap {
	background-color: #fdf5ef;
	border-radius: 0px;
}

#menu ul.menuNavigation li ul.subMenuNavigation li.add-bookmark-wrap:hover {
	background-color: #fdf5ef;
}

.additional-information {
	position: absolute;
	bottom: 19px;
	left: 6px;
}

.additional-information li a {
	font-size: 14px;
	font-family: 'Arial';
	color: #495677;
	text-decoration: none;
}

.additional-information li a:hover {
	text-decoration: underline;
}

.copyright {
	display: block;
	text-align: center;
	font-size: 14px;
	font-family: 'Arial';
	color: #686868;	
	position: absolute;
	bottom: 2px;
	left: 63px;
}


/*.open-dialog-list.indicate {*/
    /*background-color: #000000 !important;*/
    /*color: #ff0000 !important;*/
}


.menuCategory {
	width: 155px;
	height: 50px;
	overflow: hidden;
	margin: 0 auto;
	border: 2px solid #EF5928;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	color: #999999;
	background-color: #FFCEC9;
	position: relative;
	top: 0;
	left: 0;
}

.menuCategory a {
	color: #000;
}


#main {
	width: 720px;
	min-height: 800px;
	margin: -55px 0 0 5px;
	float: left;
    position: relative;
	/*width: 733px;
	min-height: 800px;
	max-height: 820px;
	margin: -40px 0 0 0px;
	float: left;
	position: relative;
	overflow: auto;*/
}

#main form.writeQuestion {
	margin: 25px auto 0 auto;
	width: 700px;
	overflow: hidden;
	font-family: 'Cambria';
	font-size: 16px;

}

#main form.writeQuestion textarea {
	width: 680px;
	height: 29px;
	border: 3px solid #CC2A03;
	font-size: 21px;
	font-family: 'Cambria';
	padding: 0;
	padding-left: 8px;
	overflow: hidden;
	margin: 0;
    resize: none;
}

.noscroll {
    overflow: hidden;
}



.hiddenWriteQuestion {
    display: none;
    white-space: pre-wrap;
	width: 680px;
	min-height: 29px;
    font-size: 15px;
	padding-left: 8px;
    word-wrap: break-word;
	padding: 5px;
	margin: 0;
}

.questionForm {
	margin: 0 auto;
	width: 692px;
}


.questionForm textarea {
	margin: 0;
	vertical-align: top;
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
	max-height: 81px;
}


#questionsType {
	width: 680px;
	height: 24px;
	padding-top: 5px;
	border-bottom: 2px solid #CC2A03;
	border-left: 2px solid #CC2A03;
	border-right: 2px solid #CC2A03;
	overflow: hidden;
	margin: 0 auto;
	display: none;
}

#questionsType label {
	font-size: 18px;
	font-family: 'Cambria';
	color: #000;
}



.writeQuestionDiv {
	width: 680px;
	border-bottom: 2px solid #CC2A03;
	border-left: 2px solid #CC2A03;
	border-right: 2px solid #CC2A03;
	margin: 0 auto;
	font-size: 18px;
	overflow: hidden;
	display: none;
	border-radius: 0 0 8px 8px;
}

.writeQuestionDiv input.radioButton {
	margin-left: 15px;

}

#main form.writeQuestion input.radioButton {
	border: 0;	
}

#main form.writeQuestion input.submitButton {
	border: 1px solid #808080;
	width: 86px;
	height: 20px;
	float: right;
	margin-right: 6px;
	cursor: pointer;
	border-radius: 6px;
	margin-bottom: 7px;
	vertical-align: middle;
	text-align: center;
	margin-top: 57px;
	font-family: 'Arial';
	font-size: 14px;
	background-color: #fff;
}

#main form.writeQuestion input.submitButton:hover {
	border: 1px solid #000;
}

#categoryScripture {
	font-size: 18px;
	font-family: 'Cambria';
	color: #000;
	margin-left: -4px;
}

#showQuestion {
	max-height: 770px;
	width: 729px;
	overflow-y: scroll;
}

.privateButton {
	float: right;
	margin-right: 5px;
}


.privateButton label {
	float: none;
	display: inline;
	font-family: 'Cambria';
	font-size: 18px;
	color: #000;
	float: right;
}

p.questionPrivateCost {
	margin: -15px 0px 0 -125px;
	font-family: 'Arial';
	font-size: 12px;
	color: #000;
}

.category {
	margin-top: 5px;
	overflow: hidden;
	width: 220px;
	float: left;
	padding-left: 10px;
}

.category label {
	display: block;	
}

.category label.category-active {
	color: #3b3ffd;
}

.category input  {
	display: block;
	float: left;
}

.rushWrapper {
	width: 404px;
	overflow: hidden;
	margin-left: 276px;
}

.chosePlace {
	width: 273px;
	float: left;
	margin-left: 25px;
	overflow: hidden;
}

.chosePlace label {
	display: block;
	margin-top: 8px;
	margin-left: 5px;
}

.chosePlace select {
	width: 270px;
	margin-top: 5px;
	border: 1px solid #52648A;
}

.additionalInformation {
	width: 332px;
	font-size: 14px;
	float: right;
	margin-top: 10px;
	margin-right: 53px;
}

.additionalInformation label {
	font-family: 'Cambria';
	font-size: 18px;
	color: #000;
}


.additionalInformation select {
	display: block;
}

p.questionCost {
	display: none;
	width: 189px;
	float: right;
	margin: -20px 135px 0 0;
	font-family: 'Arial';
	font-size: 18px;
	color: #000;
}

#question_text {
	font-style: 'Cambria';
	font-size: 14px;
}

h2.categoryH2 {
	font-size: 24px;
	margin-left: 17px;
	margin-top: 9px;
	color: #7A2116;
	text-transform: uppercase;
}

.categoryH2 a {
	font-size: 24px;
	color: #7A2116;
	text-transform: uppercase;
	text-decoration: none;
}

h2.acticle {
	font-size: 24px;
	margin-left: 17px;
	margin-top: -2px;
	color: #7A2116;
}

.acticle a {
	font-size: 24px;
	color: #7A2116;
	text-transform: uppercase;
	text-decoration: none;
}

.categoryTitle {
	font-size: 24px;
	margin-left: 17px;
	margin-top: 10px;
	color: #323223;
	text-transform: capitalize;	
}

.greeting {
	font-size: 26px;
	font-family: 'Cambria';
	text-align: left;
	margin-top: 15px;
	color: #495677;
	margin-left: 10px;
}


.singleQuestion {
	width: 704px;
	border: 1px solid #965565;
	border-radius: 7px;
	margin: 5px auto 0px auto;
	overflow: hidden;
    min-height: 47px;
}

.userName {
	width: 101px;
	border-left: 1px solid #965565;
	border-right: 1px solid #965565;
	border-bottom: 1px solid #965565;
	margin-left: 8px;
	text-align: center;
	color: #686868;
	float: left;
	border-radius: 0 0 5px 5px;
	font-size: 13px;
}

.questionDate {
	width: 105px;
	float: left;
	overflow: hidden;
	margin-left: 478px;
	margin-right: 0;
	color: #7e7f7f;
	font-family: 'Cambria';
	font-size: 10px;
	margin-top: 3px;	
}

.closeButton {
	width: 9px;
	height: 12px;
	float: left;
	background: url(/i/closeButton2.png) no-repeat;
	background-size: 100%;
	margin-left: -5px;
	cursor: pointer;
	margin-top: 3px;
}

.closeButton:hover {
	background: url(/i/closeButton1.png) no-repeat;
	background-size: 100%;
}

.questionText{
	display: block;
	width: 676px;
	margin: 3px 0 0px 5px;
	overflow: hidden;
	font-family: 'Cambria';
	font-size: 14px;
}

.socialIcons {
	width: 154px;
    padding-right: 26px;
	overflow: hidden;
	float: right;
}

.actionButton {
	overflow: hidden;
	float: right;
}

.actionButton form.answer {
	margin-top: 7px;
}

.actionButton form.answer input {
	width: 86px;
	height: 20px;
	border: 1px solid #7b7b7b;
	cursor: pointer;
	border-radius: 3px;
	margin-bottom: 5px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	color: #333;
	font-family: 'Cambria';
}

.actionButton form.answer input:hover {
	border: 1px solid #000;
	color: #000;
}


.actionButton form.answer input.answerButtonItalic {
	width: 91px;
	height: 20px;
	border: 1px soliid #7b7b7b;
	color: #333;
	cursor: pointer;
	border-radius: 3px;
	margin-bottom: 5px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	font-style: italic;
	font-family: 'Arial';
}


.actionButton form.answer input.answerButtonItalic:hover {
	border: 1px solid #000;
	color: #000;
}

.spamButton {
	width: 28px;
	height: 22px;
	float: left;
	background: url(/i/spamButton.png) no-repeat;
	background-size: 100%;
	cursor: pointer;
}

.spamButtonActive{
	background-image: url(../i/spamActive.jpg);
	background-size: 100%;
}

.spamButton:hover  {
	background-image: url(../i/spamHover.jpg);
	background-size: 100%;	
}

.spamButton:active  {
	background-image: url(../i/spamClickActive.jpg);
	background-size: 100%;	
}

.spamButtonActive:hover{
	background-image: url(../i/spamClickActive.jpg);
	background-size: 100%;
}

.likeButton {
	width: 21px;
	height: 27px;
	float: left;
	background: url(/i/likeButton.png) no-repeat;
	background-size: 100%;
	cursor: pointer;
}

.likeButtonActive{
	background-image: url(../i/likeActive.jpg);
	background-size: 100%;	
}

.likeButton:hover {
	background-image: url(../i/likeHover.jpg);
	background-size: 100%;	
}

.likeButton:active {
	background-image: url(../i/likeClickActive.jpg);
	background-size: 100%;	
}

.likeButtonActive:hover{
	background-image: url(../i/likeClickActive.jpg);
	background-size: 100%;	
}

.repostButton {
	width: 29px;
	height: 22px;
	float: left;
	background: url(/i/repostButton.png) no-repeat;
	background-size: 100%;
	margin-top: 2px;
	cursor: pointer;
	margin-right: 3px;
}

.repostButtonActive {
	background: url(/i/repostButtonActive.jpg) no-repeat;
	background-size: 100%;	
}
.repostButton:hover {
	background: url(/i/repostButtonHover.jpg) no-repeat;
	background-size: 100%;		
}

.repostButton:active {
	background: url(/i/repostButtonClickActive.jpg) no-repeat;
	background-size: 100%;		
}

.repostButtonActive:hover {
	background: url(/i/repostButtonClickActive.jpg) no-repeat;
	background-size: 100%;	
}


.arrowButton {
	width: 22px;
	height: 22px;
	float: left;
	background: url(/i/chat2.jpg) no-repeat;
	background-size: 100%;
	cursor: pointer;
	margin-right: 3px;
	margin-top: 1px;
}

.arrowButton:hover {
	background: url(/i/chatHover.jpg) no-repeat;
	background-size: 100%;
}

.arrowButton:active {
	background: url(/i/chatClickActive.jpg) no-repeat;
	background-size: 100%;
}

.arrowButton.inviteUser-active {
	background: url(/i/chatActive.jpg) no-repeat;
	background-size: 100%;	
}

.arrowButton.inviteUser-active:hover {
	background: url(/i/chatClickActive.jpg) no-repeat;
	background-size: 100%;	
}

.letterButton {
	width: 22px;
	height: 22px;
	float: left;
	background: url(/i/mes2.jpg) no-repeat;
	background-size: 100%;
	margin-top: 2px;
	cursor: pointer;
	margin-right: 3px;
	margin-top: 1px;
}

.letterButton:hover {
	background: url(/i/messagehover.jpg) no-repeat;
	background-size: 100%;
}

.letterButton:active {
	background: url(/i/messgeClickActive.jpg) no-repeat;
	background-size: 100%;
}

.letterButton.sendMessage-active {
	background: url(/i/messageActive.jpg) no-repeat;
	background-size: 100%;	
}

.letterButton.sendMessage-active:hover {
	background: url(/i/messgeClickActive.jpg) no-repeat;
	background-size: 100%;	
}


.socialIcons form.answer {
	width: 70px;
	float: right;
	margin-top: 2px;
}

.socialIcons form.answer input {
	width: 73px;
	height: 20px;
	border: 1px solid #7b7b7b;
	margin: 0;
	color: #333;
	cursor: pointer;
	border-radius: 9px;
	margin-bottom: 5px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	font-family: 'Cambria';
}

.socialIcons form.answer input:hover {
	border: 1px solid #000;
	color: #000;
}

.chatWindow {
	width: 726px;
	height: 20px;
	border: 2px solid #CC2A03;
	margin: -23px 0 0 2px;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	color: #52648A;
	cursor: pointer;
}

.chatWindow:hover {
	background-color: #ffebdb;
}

.chatWindow span {
	display: block;
	float: left;
	text-align: center;
	margin-left: 262px;
}

.chatUpButton {
	width: 15px;
	height: 20px;
	background: url(../i/UpChat.png) no-repeat;
	cursor: pointer;
	float: left;
	margin-left: 20px;
}

.chatWrapper {
	width: 730px;
	height: 270px;
	position: fixed;
	bottom: 0px;
	z-index: 5;
    display: none;
}
.chatWrapper .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 130px;
    background: rgba(255, 255, 255, 0.8);
    /*opacity: 0.5;*/
    /*filter: alpha(opacity=50);*/
    z-index: 5;
    text-align: center;
}

.openChat {
	width: 730px;
	height: 270px;
	border: 2px solid #CC2A03;
	border-radius: 8px;
	z-index: 5;
	background: #ffffff;
}

.closeChat {
	width: 13px;
	height: 15px;
	float: right;
	margin: 10px 14px 0 0;
	background: url(../i/closeButton2.png) no-repeat;
	background-size: 100%;
	cursor: pointer;
    z-index: 1;
}

.closeChat:hover {
	background: url(../i/closeButton1.png) no-repeat;
	background-size: 100%;
}


.registerWrapper {
	position: relative;
	top: -131px;
	left: -5px;
	z-index: 10;
}

.registerForm {
	width: 937px;
	border: 2px solid #52648A;
	border-radius: 7px;
	margin: 0 auto;
	padding: 10px;
	background-color: #fff;
}

h2.registrationH2 {
	font-size: 26px;
	margin-left: 30px;
	margin-bottom: 10px;
	display: block;
	width: 142px;
	float: left;
	color: #7A2116;
	text-transform: uppercase;
}

h3.registrationH3 {
	margin-left: 162px;
	margin-top: 9px;
	display: block;
	float: left;
	font-family: 'Arial';
	font-size: 18px;
	color: #828282;
}

.registrationField {
	width: 100%;
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 25px;
	position: relative;
}

.registrationField label {
	margin-left: 5px;
	margin-top: 20px;
	font-size: 24px;
	color: #52648A;
	float: left;
	font-family: 'Cambria';
}

.registrationField input {
	height: 27px;
	border: 1px solid #52648A;
	border-radius: 3px;
	margin-top: 20px;
	width: 495px;
	font-size: 20px;
	font-family: 'Arial';
	float: right;
	margin-right: 217px;
	padding-left: 5px;
}

.registrationField select {
	
}

span.fieldHelp {
	display: block;
	font-size: 14px;
	margin: 17px 0 0 220px;
	color: #828282;
	font-family: 'Arial';
	text-align: left;
}


.registrationFieldPass{
	width: 100%;
	overflow: hidden;
	margin-top: -19px;
	position: relative;
}

.registrationFieldPass input {
	border: 1px solid #52648A;
	border-radius: 3px;
	margin-top: 35px;
	margin-bottom: 20px;
	width: 500px;
	font-size: 18px;
	float: right;
	margin-right: 217px;
    height: 27px;
    padding-left: 5px;
}

.registrationFieldPass label {
	margin-left: 5px;
	margin-top: 20px;
	color: #52648A;
	float: left;
	font-size: 24px;
	font-family: 'Cambria';
}

span.fieldHelpPass {
	display: block;
	line-height: 100%;
	position: relative;
	width: 415px;
	font-size: 14px;
	overflow: hidden;
	top: -98px;
	left: 217px;
	color: #828282;
	font-family: 'Arial';
	text-align: left;
}

span.checkPassword {
	display: block;
	line-height: 100%;
	position: relative;
	width: 415px;
	font-size: 14px;
	overflow: hidden;
	top: -40px;
	left: 221px;
	font-family: 'Arial';
	font-size: 14px;	
}

span.birtDateDescription {
	width: 142px;
	overflow: hidden;
	position: relative;
	top: 4px;
	left: 59px;
	font-size: 16px;
	font-family: 'Cambria';
	color: #52648A;
}

.birthDateSelect {
	overflow: hidden;
	width: 198px;
	height: 30px;
	float: right;
	margin-right: 511px;
	margin-top: 2px;
}

.genderRadio {
	display: block;
	width: 121px;
	overflow: hidden;
	float: right;
	margin-right: 606px;
	margin-top: 21px;
}


.registrationFieldGender {
	width: 100%;
	overflow: hidden;
	margin-top: -26px;
	position: relative;
}

.genderLabel {
	overflow: hidden;
	display: block;
	width: 50px;
	height: 25px;
	margin-top: 25px;
	float: left;
}
.registrationFieldGender label {
	display: block;
	color: #52648A;
	font-size: 24px;
	font-family: 'Cambria';
	margin-top: -2px;
}

.registrationFieldGender input {
	float: left;
	display: block;
	margin-top: 5px;
}

.registrationFieldPlace {
	width: 100%;
	position: relative;
}

span.placeLabel {
	display: block;
	float: left;
	width: 130px;
	font-size: 24px;
	color: #52648A;
	font-family: 'Cambria';
	margin-right: 15px;
	margin-left: 5px;
}

.placeSelects {
	width: 130px;
	float: left;
	margin-left: 78px;
	margin-top: -13px;	
}

.placeSelects label {
	font-family: 'Cambria';
	font-size: 16px;
	color: #495677;
}

.registrationFieldPlace select {
	display: block;
	width: 272px;
	margin-bottom: 6px;
}

span.agreementLabel {
	display: block;
	float: left;
	margin: 16px 0 0 4px;
	font-size: 24px;
	color: #52648A;
	font-family: 'Cambria';
}

span.agreementLabel a {
	text-decoration: underline;
	color: #52648A;	
	cursor: pointer;
	display: inline-block;
	height: 22px;
}

span.agreementLabel a:hover {
	text-decoration: none;
}

.emailError {
	font-family: 'Arial';
	font-size: 18px;
	color: #ff5151;
	width: 225px;
	display: block;
	position: absolute;
	left: 725px;
	top: 24px;
	margin: 0;
	padding: 0;
}

.nickError {
	font-family: 'Arial';
	font-size: 18px;
	color: #ff5151;
	position: absolute;
	right: 51px;
	top: 25px;
	margin: 0;
	padding: 0;
}

.genderError {
	font-family: 'Arial';
	font-size: 18px;
	color: #ff5151;
	position: absolute;
	right: 455px;
	top: 36px;
	margin: 0;
	padding: 0;
}

.countryError {
	font-family: 'Arial';
	font-size: 18px;
	color: #ff5151;
	position: absolute;
	right: 273px;
	top: 5px;
	margin: 0;
	padding: 0;
}

.stateError {
	font-family: 'Arial';
	font-size: 18px;
	color: #ff5151;
	position: absolute;
	right: 273px;
	top: 49px;
	margin: 0;
	padding: 0;
}
.cityError {
	font-family: 'Arial';
	font-size: 18px;
	color: #ff5151;
	position: absolute;
	right: 273px;
	top: 94px;
	margin: 0;
	padding: 0;
}

.agreementError {
	font-family: 'Arial';
	font-size: 18px;
	color: #ff5151;
	position: absolute;
	right: 66px;
	top: 4px;
	margin: 0;
	padding: 0;
}

.passwordError {
	font-family: 'Arial';
	font-size: 18px;
	color: #ff5151;
	position: absolute;
	right: 66px;
	top: 4px;
	margin: 0;
	padding: 0;	
}

.agreementError ul {
	display: block;
	width: 172px;
	height: 62px;
}

input.registerButton {
	width: 330px;
	height: 50px;
	background: #fff;
	border: 2px solid #00A3D4;
	border-radius: 12px;
	cursor: pointer;
	font-size: 26px;
	display: block;
	margin: 0 auto;
	text-transform: uppercase;
}

input.registerButton:hover {
	border: 2px solid #00A3D4;
	background-color: #F8FBFE;
}

#username {
	width: 120px;
	height: 17px;
	border: 1px solid #A02B1C;
	border-radius: 5px;
	display: block;
	margin: 5px 0 0 5px;
}

#password {
	width: 120px;
	height: 17px;
	border: 1px solid #A02B1C;
	border-radius: 5px;
	display: block;
	margin: 5px 0 0 5px;
}

.enterButton {
	width: 70px;
	border: 1px solid #7b7b7b;
	border-radius: 5px;
	background-color: #EFEFEF;
	cursor: pointer;
	position: relative;
	top: -47px;
	left: 139px;
	font-size: 18px;
	font-family: 'Cambria';
	padding: 0;
	height: 22px;
	color: #333;
}

.enterButton:hover {
	border: 1px solid #000;
	color: #000;
}

.registerButtonOnIndex {
	width: 90px;
	border: 1px solid #7b7b7b;
	border-radius: 5px;
	background-color: #EFEFEF;
	cursor: pointer;
	font-size: 12px;
	position: relative;
	top: -43px;
	left: 129px;
	font-family: 'Cambria';
	font-size: 14px;
	padding: 0;
	height: 21px;
	color: #333;
}

.registerButtonOnIndex:hover {
	border: 1px solid gray;
	color: #000;
}

a.forgotPassword {
	margin: 0;
	display: block;
	width: 140px;
	margin-top: -10px;
	margin-left: auto;
	margin-right: auto;	
	color: #495677;
	text-decoration: none;
	font-size: 18px;
	font-family: 'Cambria';
}

a.forgotPassword:hover {	
	color: #3b3ffd;
}

a.closeRegisterButton {
	display: block;
	width: 18px;
	height: 19px;
	float: right;
	background: url(/i/closeButton2.png) no-repeat;
	background-size: 100%;
}

a.closeRegisterButton:hover {
	background: url(/i/closeButton1.png) no-repeat;
	background-size: 100%;
}

#terms-of-use {
	width: 937px;
	padding: 10px;
	border: 2px solid #52648A;
	border-radius: 7px;
	background-color: #fff;
	z-index: 20;
	position: absolute;
	top: 0;
	height: 783px;
	overflow: auto;
	display: none;
}

#not-agree {
	border: 1px solid #808080;
	height: 20px;
	float: right;
	margin-right: 6px;
	cursor: pointer;
	border-radius: 6px;
	margin-bottom: 7px;
	vertical-align: middle;
	text-align: center;
	margin-top: 57px;
	font-family: 'Arial';
	font-size: 14px;
	background-color: #fff;
}

#agree {
	border: 1px solid #808080;
	height: 20px;
	float: right;
	margin-right: 6px;
	cursor: pointer;
	border-radius: 6px;
	margin-bottom: 7px;
	vertical-align: middle;
	text-align: center;
	margin-top: 57px;
	font-family: 'Arial';
	font-size: 14px;
	background-color: #fff;
} 

.answerForm {
	width: 690px;
	margin: 0px 0 0 6px;
	display: none;
}

.answerTextarea {
	width: 100%;
	border-bottom: 1px solid #965565;
	border-right: 1px solid #965565;
	border-left: 1px solid #965565;
	border-top: none;
	height: 64px;
	resize: none;
	outline: none;
	font-size: 14px;
	font-family: 'Cambria';
	padding-left: 5px;
}

.answerFormNavigation {
	width: 697px;
	border-bottom: 1px solid #965565;
	border-right: 1px solid #965565;
	border-left: 1px solid #965565;
	height: 26px;
	margin: -3px 0 0 0px;
}

.answerFormNavigation input.cancelButton:hover {
	border: 1px solid #000;
	color: #000;
}

.answerFormNavigation input.submitAnswerButton:hover {
	border: 1px solid #000;
	color: #000;
}

.answerFormNavigation input.cancelButton {
	border: 1px solid #808080;
	width: 86px;
	height: 20px;
	float: right;
	margin-right: 6px;
	cursor: pointer;
	border-radius: 6px;
	margin-bottom: 7px;
	vertical-align: middle;
	text-align: center;
	margin-top: 3px;
	font-family: 'Arial';
	font-size: 14px;
	background-color: #fff;
	color: #333;
}

.answerFormNavigation input.submitAnswerButton {
	border: 1px solid #808080;
	width: 86px;
	height: 20px;
	float: right;
	margin-right: 6px;
	cursor: pointer;
	border-radius: 6px;
	margin-bottom: 7px;
	vertical-align: middle;
	text-align: center;
	margin-top: 3px;
	font-family: 'Arial';
	font-size: 14px;
	background-color: #fff;
	color: #333;
}

.myAnswer {
	width: 690px;
	max-height: 510px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid #965565;
	margin: 0 auto;
	display: none;
}
.myAnswer.no-border {
    border: none;
}

.singleAnswer {
	margin: 6px 0 0 5px;
	width: 665px;
    min-height: 45px;
	border: 1px solid #965565;
	border-radius: 7px;
	overflow: hidden;
}

.answerDate {
	width: 105px;
	float: left;
	overflow: hidden;
	margin-left: 438px;
	color: #7e7f7f;
	font-family: 'Cambria';
	font-size: 10px;
}

#progress {
	float: left;
	border-top: 2px solid #52648A;
	border-bottom: 2px solid #52648A;
	border-left: 2px solid #52648A;
	border-right: 2px solid #52648A;
	border-radius: 5px 0 0 5px;
	width: 571px;
	position: relative;
	margin: 5px 0 0 7px;
	overflow: hidden;
}
#progress .bar {
	height: 35px;
	background: #d2ecff;
}
#progress .file-name {
	position: absolute;
	top: 8px;
	left: 5px;
	color: #000000;
	font-size: 20px;
}

#add-file-button{
	border: 2px solid #495677;
	background-color: #e6e6e6;
	margin: 5px 0px 0 -2px;
	border-radius: 5px;
	height: 39px;
	width: 127px;
	color: #7b7b7b;
	font-size: 26px;
	font-family: 'Cambria';
	cursor: pointer;
	line-height: 31%;
}

#add-file-button:hover{
	color: #000;
}

.file-link-wrap {
	margin: 6px 0 0 11px;
	color: #383838;
	font-size: 20px;
	font-family: 'Cambria';
}

.file-link-wrap div {
	margin-bottom: 5px;
	color: #000;
	font-size: 24px;
	font-family: 'Cambria';
}

#d_clip_button {
	display: block;
	width: 24px;
	height: 25px;
	/*background: url('../i/copy1.png') no-repeat;*/
	float: left;
	margin: 1px 0 0 -30px;
}

#d_clip_button a {
	display: block;
	width: 24px;
	height: 25px;
	background: url('../i/copy1.png') no-repeat;
	float: left;
	margin: 3px 0 0 3px;
}



.total-size-wrap {
	margin: 34px 81px 0 0px;
	color: #52648A;
	font-size: 20px;
	font-family: 'Cambria';
	margin-bottom: 0px;
}

.my-files-wrap {
    height: 680px;
    overflow-y: scroll;
}
.my-files {
	clear: both;
	margin-top: 22px;
	margin-left: -15px;
}
.my-file {
	padding: 6px 0 1px 5px;
	margin: 8px auto 0 auto;
	border-radius: 4px;
	border: 1px solid #495677;
	color: #000;
	width: 666px;
	height: 22px;
	overflow: hidden;
}
.my-file:hover {
	background: #e8fbff;
}
.my-file.selected {
    background: #e8fbff;
}
.my-file table td {
	vertical-align: top;
	color: #000;
	font-size: 20px;
	font-family: 'Cambria';
    /*white-space: nowrap;*/
}

.download-my-file{
	border: 1px solid #C6C6C6;
	background-color: #EFEFEF;
	color: #383838;
	font-size: 17px;
	font-family: 'Cambria';
	cursor: pointer;
	border-radius: 3px;
	margin-top: -2px;
	height: 22px;
	width: 92px;
	padding: 0px;
	margin-left: 0%;
	vertical-align: middle;
}
.delete-my-file {
	border: 1px solid #C6C6C6;
	background-color: #EFEFEF;
	color: #383838;
	font-size: 17px;
	font-family: 'Cambria';
	cursor: pointer;
	border-radius: 3px;
	margin-top: -2px;
	height: 22px;
	width: 78px;
	padding: 0px;
	margin-right: 5px;
	margin-left: 4px;
	line-height: 0%;
}
.my-file input[type=button] {
	float: right;
}
.my-file-size {
	float: right;
}
#file-path-field {
	padding: 4px;
	width: 323px;
	border-radius: 3px;
	border: 1px solid #52648A;
	height: 22px;
	font-family: 'Cambria';
	font-size: 21px;
	color: #000;
	float: left;
}

#total-size-values {
	margin-left: 13px;
}

.my-file-name {
	width: 350px;
	overflow: hidden;
	height: 25px;
}

span.spaceLeft {
	margin-top: -2px;
	display: block;
	margin-left: 1px;
}

.dialogsWrapper {
	width: 722px;
	margin: 0 auto;
	border: 2px solid #c85a3d;
    background: #ffffff;
	border-radius: 8px;
	height: 600px;
    position: absolute;
    left: 0;
    top: 0px;
	overflow: auto;
}

h2.dialogTitle {	
	font-size: 26px;
	margin-left: 15px;
	margin-top: 10px;
	color: #ae361a;
	text-transform: uppercase;
}

.closeDialogWindow {
	width: 13px;
	height: 13px;
	float: right;
	margin: 16px 14px 0 0;	
}

.closeDialogWindow a {
	display: block;
	width: 13px;
	height: 15px;
	background: url(../i/closeButton2.png) no-repeat;
	background-size: 100%;
	cursor: pointer;	
}

.closeDialogWindow a:hover {
	background: url(../i/closeButton1.png) no-repeat;
	background-size: 100%;
}

.singleDialog{
	width: 570px;
	height: 27px;
	border: 1px solid #873d4f;
	color: #333333;
	border-radius: 5px;
	margin: 12px 0 0 10px;
}
.singleDialog:hover {
    cursor: pointer;
    background-color: #ffebdb;
}
.dialogs-empty-text {
    padding: 17px;
}

div.dialogUsername {
	width: 235px;
	height: 25px;
	color: #000;
	font-family: "Cambria";
	font-size: 24px;
	margin: 0px 0 0 5px;
	float: left;
}

.messagesAmount {
	width: 50px;
	font-family: "Cambria";
	font-size: 24px;
	color: #465173;
	float: left;
}

.closeDialogs {
	width: 13px;
	height: 13px;
	float: right;
	margin: 7px 8px 0 0;
}

.closeDialogs a {
	display: block;
	width: 13px;
	height: 15px;
	background: url(../i/closeButton2.png) no-repeat;
	background-size: 100%;
	cursor: pointer;
}

.closeDialogs a:hover {
	display: block;
	width: 13px;
	height: 15px;
	background: url(../i/closeButton1.png) no-repeat;
	background-size: 100%;	
	cursor: pointer;
}

.spamDialogs {
	width: 34px;
	height: 27px;
	float: right;
	margin-right: 5px;
	margin-top: 1px;
}

.spamDialogs a {
	display: block;
	width: 34px; 
	height: 27px;
	background: url(../i/spamDialogs.png) no-repeat;
	cursor: pointer;
}


.userLinkAddWindow {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 538px;
	margin-left: -399px;
	height: 158px;
	margin-top: -93px;
	padding: 3px 0 0 17px;
	border: 3px solid #556183;
	border-radius: 18px;
	background: #ffffff;
	z-index: 6;
}

.closeUserLinkWindow {
    width: 13px;
    height: 13px;
    float: right;
    margin: 10px 14px 0 0;
}
.closeUserLinkWindow a {
    display: block;
    width: 13px;
    height: 15px;
    background: url(../i/closeButton2.png) no-repeat;
	background-size: 100%;
    cursor: pointer;
}

.closeUserLinkWindow a:hover {
    background: url(../i/closeButton1.png) no-repeat;
	background-size: 100%;
}

.userLinkAddWindow form label {
	font-family: 'Cambria';
	font-size: 24px;
	display: block;
	margin-left: 8px;
}

.userLinkAddWindow form input#user-link-title {
	font-family: 'Cambria';
	font-size: 24px;
	display: block;
	width: 260px;
	height: 31px;
	border: 1px solid #5b6376;
	border-radius: 5px;
	margin-top: 3px;
	float: left;
	padding-left: 8px;
}

.userLinkAddWindow span {
	display: block;
	float: right;
	font-family: 'Arial';
	font-size: 14px;
	color: #7e7e7e;
	margin: 12px 111px 0 0;
}

.userLinkAddWindow form input#user-link-url {
	font-family: 'Cambria';
	font-size: 24px;
	display: block;
	width: 492px;
	height: 31px;
	border: 1px solid #5b6376;
	border-radius: 5px;
	margin-top: 3px;
	padding-left: 8px;
}

input.saveUserLink {
	float: right;
	width: 88px;
	height: 20px;
	border: 1px solid gray;
	cursor: pointer;
	border-radius: 6px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	background-color: #fff;
	margin-top: 7px;
	margin-right: 8px;
}

input.cancelUserLink {
	float: right;
	width: 88px;
	height: 20px;
	border: 1px solid gray;
	cursor: pointer;
	border-radius: 6px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	background-color: #fff;
	margin-top: 7px;
	margin-right: 8px;	
}
.feedbackWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 515px;
	margin-left: -380px;
	margin-top: -92px;
	padding: 5px 0 0 15px;
    border: 3px solid #556183;
	border-radius: 10px;
    background: #ffffff;
	z-index: 6;
}

.feedbackWindow h3 {
	font-family: 'Cambria';
	font-size: 24px;
	color: #000;
	margin-left: 10px;
}

.closeFeedbackWindow {
    width: 13px;
    height: 13px;
    float: right;
    margin: 10px 14px 0 0;
}

.closeFeedbackWindow a {
    display: block;
    width: 13px;
    height: 15px;
    background: url(../i/closeButton2.png) no-repeat;
	background-size: 100%;
    cursor: pointer;
}

.closeFeedbackWindow a:hover {
    background: url(../i/closeButton1.png) no-repeat;
	background-size: 100%;
}

#feedback-email {
	width: 383px;
	height: 31px;
	border: 1px solid #5b6376;
	border-radius: 5px;
	margin-top: 3px;
	font-size: 18px;
	font-family: 'Arial';
	padding-left: 8px;
}

.feedbackWindow form label {
	font-family: 'Cambria';
	font-size: 24px;
	color: #000;
	margin-left: 10px;
}

.feedbackWindow form textarea {
	resize: none;
	font-family: 'Cambria';
	font-size: 18px;
	height: 70px;
	width: 491px;
	margin-top: 3px;
	border: 1px solid #5b6376;
	border-radius: 5px;
	padding-left: 8px;
}

input.submit-feedback {
	float: right;
	width: 88px;
	height: 20px;
	border: 1px solid gray;
	cursor: pointer;
	border-radius: 6px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	background-color: #fff;
	margin-top: 7px;
	margin-right: 8px;
	margin-bottom: 8px;	
}

input.cancel-feedback {
	float: right;
	width: 88px;
	height: 20px;
	border: 1px solid gray;
	cursor: pointer;
	border-radius: 6px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	background-color: #fff;
	margin-top: 7px;
	margin-right: 8px;
}

.replyFeedbackWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 515px;
    margin-left: -380px;
    margin-top: -92px;
    padding: 5px 0 0 15px;
    border: 3px solid #556183;
    border-radius: 10px;
    background: #ffffff;
    z-index: 6;
}

.replyFeedbackWindow h3 {
    font-family: 'Cambria';
    font-size: 24px;
    color: #000;
    margin-left: 10px;
}

.closeReplyFeedbackWindow {
    width: 13px;
    height: 13px;
    float: right;
    margin: 10px 14px 0 0;
}
.closeReplyFeedbackWindow a {
    display: block;
    width: 13px;
    height: 13px;
    background: url(../i/closeDialogs.png) no-repeat;
    cursor: pointer;
}

.feedback-li {
	border: 1px solid #5b6376;
	border-radius: 5px;
	padding: 5px;
	margin-top: 5px;
}

.feedback-li table td {
	font-family: 'Cambria';
	font-size: 18px;
	vertical-align: middle;
}

.payWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 515px;
    margin-left: -380px;
    margin-top: -92px;
    padding: 5px 0 0 15px;
    border: 3px solid #556183;
    border-radius: 10px;
    background: #ffffff;
    z-index: 6;
}

.payWindow h3 {
    font-family: 'Cambria';
    font-size: 24px;
    color: #000;
    margin-left: 10px;
}

.closePayWindow {
    width: 13px;
    height: 13px;
    float: right;
    margin: 10px 14px 0 0;
}

.closePayWindow a {
    display: block;
    width: 13px;
    height: 15px;
    background: url(../i/closeButton2.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.closePayWindow a:hover {
    background: url(../i/closeButton1.png) no-repeat;
    background-size: 100%;
}

.closeNotepad {
	width: 10px;
	height: 13px;
	float: left;
	margin: -3px 0px 0 2px;
}

.closeNotepad a {
    display: block;
    width: 13px;
    height: 15px;
    background: url(../i/closeButton2.png) no-repeat;
	background-size: 100%;
    cursor: pointer;
}

.closeNotepad a:hover {
    background: url(../i/closeButton1.png) no-repeat;
	background-size: 100%;
}

.chatInviteWindow {
	width: 660px;
	height: 300px;
	border: 2px solid #52648A;
    background: #ffffff;
	border-radius: 8px;
	margin: 0 auto;
    position: absolute;
    /*z-index: 6;*/
    top: 150px;
    left: 50%;
    margin-left: -330px;
	overflow: auto;
}

.closeInviteWindow {
	width: 13px;
	height: 13px;
	float: right;
	margin: 10px 14px 0 0;	
}
.closeInviteWindow a {
	display: block;
	width: 13px;
	height: 15px;
	background: url(../i/closeButton2.png) no-repeat;
	background-size: 100%;
	cursor: pointer;		
}

.closeInviteWindow a:hover {
	display: block;
	width: 13px;
	height: 13px;
	background: url(../i/closeButton1.png) no-repeat;
	background-size: 100%;
	cursor: pointer;		
}

h2.chatInviteTitle{
	font-size: 26px;
	color: #7A2116;
	font-family: "Cambria";
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
	margin-top: 17px;
}

.singleInvite {
	width: 620px;
	height: 28px;
	border: 1px solid #52648A;
	border-radius: 5px;
	margin: 15px auto;
}
.invites-empty-text {
    padding: 17px;
}

.InviteUsername {
	width: 215px;
	height: 25px;
	color: #000;
	font-family: "Cambria";
	font-size: 24px;
	margin: 0px 0 0 5px;
	float: left;	
}

.singleInvite input {
	float: right;
	width: 116px;
	margin-right: 5px;
	border: 1px solid #C6C6C6;
	border-radius: 5px;
	background-color: #EFEFEF;
	font-family: 'Cambria';
	font-size: 17px;
}

.chatTabs {
	width: 689px;
	margin: 4px auto -1px auto;
	overflow: hidden;
}

.singleTab {
	width: 118px;
	height: 24px;
	border-top: 1px solid #495677;
	border-left: 1px solid #495677;
	border-right: 1px solid #495677;
	border-radius: 5px 5px 0 0;
	font-size: 18px;
	font-family: 'Cambria';
	color: #000;
	text-align: center;
	text-transform: uppercase;
	line-height: 150%;
	cursor: pointer;
	float: left;
    position: relative;
	margin-top: 3px;
}
.closeDialogTab {
	background: url(../i/closeButton2.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 10px;
	height: 13px;
	position: absolute;
	right: 3px;
	top: 8px;
	display: none;
}

.closeDialogTab:hover {
	background: url(../i/closeButton1.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.singleTab:hover .closeDialogTab, .singleTab.active .closeDialogTab {
    display: block;
}

.singleInboxTab {
	/*width: 224px;*/
	height: 24px;
	border-radius: 5px 5px 0 0;
	text-align: left;
	/*cursor: pointer;*/
	float: left;
	margin-left: 1px;
	padding-left: 3px;
	padding-right: 5px;
	border-top: 1px solid #495677;
	border-left: 1px solid #495677;
	border-right: 1px solid #495677;
	margin-top: 3px;
}

.singleInboxTab span {
	display: block;
	width: 139px;
	height: 19px;
	font-size: 18px;
	font-family: 'Cambria';
	color: #000;
	text-transform: uppercase;
	margin-top: 5px;
	margin-left: 4px;
	float: left;
}

.numberOnTab {
	width: 18px;
	height: 18px;
	float: left;
	border: 1px solid #adc7de;
	border-radius: 4px;
	background-color: #fff;
	text-align: center;
	color: #adc7de;
	font-family: 'Cambria';
	margin: 3px 0 0 3px;
	font-size: 18px;
    /*cursor: pointer;*/
}
.numberOnTab.chat-tab {
    cursor: pointer;
}
.chat-tab.active {
	border-top: 2px solid #495677;
	border-left: 2px solid #495677;
	border-right: 2px solid #495677;
}

.numberOnTab.chat-tab:hover {
	border: 1px solid #646e89;
	border-radius: 4px;
	background-color: #e8f2f3;
	color: #425073;
	font-family: 'Cambria';
}
.chat-tab.newMsgs {
    background-color: #adc7de;
    /*color: #ff0000;*/
}

.mainWindow{
	margin: 0 auto;
	width: 727px;
	min-height: 166px;
	overflow: hidden;
}

.chat {
	/*width: 597px;*/
    width: 723px;
	height: 162px;
	float: left;
	overflow-y: scroll;
	border: 2px solid #465176;
}

.singleMessage {
	/*width: 575px;*/
	border: 1px solid #cadced;
	border-radius: 5px;
	margin-bottom: 2px;
}
.singleMessage.chatSrvMsg {
    color: #999999;
}

.singleMessage.my-message {
	background-color: #eeeeee;
}

.chatUsername {
	width: 88px;
	height: 11px;
	overflow: hidden;
	border-bottom: 1px solid #cadced;
	border-left: 1px solid #cadced;
	border-right: 1px solid #cadced;
	text-align: center;
	border-radius: 3px;
	font-family: 'Cambria';
	font-size: 11px;
	line-height: 105%;
	margin-left: 3px;
	margin-top: -1px;
}

.messageText {
	font-family: 'Cambria';
	font-size: 19px;
	margin-left: 3px;
	margin-bottom: 3px;
}

.usersInChat {
    width: 123px;
    height: 162px;
    float: left;
    margin-left: 3px;
    overflow-y: auto;
    overflow-x: hidden;
}

.singleUser {
    width: 104px;
    height: 19px;
    border: 1px solid #9198b1;
    border-radius: 2px;
    margin-bottom: 2px;
}

.singleUsername {
	margin-top: 3px;
	margin-left: 3px;
	width: 85px;
	font-size: 13px;
	font-family: 'Cambria';
	overflow: hidden;
	float: left;
}

.kickUser{
	width: 13px;
	height: 13px;
	background: url(../i/kickUser.png) no-repeat;
	float: left;
	margin: 3px 0 0 0;
	cursor: pointer;
}

.typeText {
	width: 728px;
	height: 56px;
	margin: 0 auto;
}

.enterArea{
	width: 621px;
	height: 56px;
	margin-top: 2px;
	float: left;
}

.enterArea textarea {
	width: 562px;
	height: 22px;
	border: 2px solid #989eb7;
	border-radius: 2px;
	font-size: 19px;
	font-family: 'Cambria';
	resize: none;
	max-height: 60px;
	overflow: auto;
    float: left;
}
.enterArea.wide {
    width: 725px;
}
.enterArea.wide textarea {
    width: 687px;
}

.enterArea input {
	float: right;
	margin-top: 9px;
}

.switch {
	width: 27px;
	height: 19px;
	background: url(../i/switch.png) no-repeat;
	float: right;
	margin-right: 42px;
    margin-top: 3px;
}

.finishConversation {
	float: left;
	width: 115px;
    margin-left: -45px;
}

.finishConversation input {
	width: 118px;
	height: 37px;
	border: 1px solid #dee0e3;
	background-color: #f0f0f1;
	border-radius: 5px;
	font-size: 19px;
	font-family: 'Cambria';
	line-height: 90%;
	cursor: pointer;
	margin: 5px 0px 0 -16px;
}
.finishConversation.hidden input {
    display: none !important;
}

.leaveConversation {
    float: left;
    width: 115px;
    margin-left: -45px;
}

.leaveConversation input {
    width: 118px;
    height: 42px;
    border: 1px solid #dee0e3;
    background-color: #f0f0f1;
    border-radius: 5px;
    font-size: 19px;
    font-family: 'Cambria';
    line-height: 90%;
    cursor: pointer;
    margin: 0px 0 0 14px;
}

#article {
    font-size: 18px;
    font-family: 'Cambria';	
}

#article div {
    margin-bottom: 15px;
}

#article_header {
	margin-left: 5px;
}

a.toggleSettingsGroup {
	font-family: 'Cambria';
	font-size: 30px;
	color: #343434;
	text-decoration: none;
}

a.toggleSettingsGroup:hover {
	color: #3b3ffd;
}

.settingsGroupWrap {
	margin: 0 0 10px 30px;
}

.settingsGroup {
	width: 451px;
	border: 2px solid #bec1d1;
	border-radius: 7px;
	padding: 3px 6px 0 15px;
	margin-left: -18px;
	margin-top: 4px;
}

.settingsGroup label {
	font-size: 18px;
	font-family: 'Cambria';
	color: #000;	
}

.settingsGroupHeader {
	font-size: 26px;
	font-family: 'Cambria';
	color: #000;
}

.settingsSubmit {
	margin-left: 114px;
	margin-bottom: 10px;
	margin-top: 4px;
	width: 88px;
	height: 20px;
	border: 1px solid gray;
	cursor: pointer;
	border-radius: 6px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	background-color: #fff;
}

.settingsSubmit.large {
	margin-left: 48px;
	margin-bottom: 9px;
	margin-top: 188px;
	margin-right: 0px;
	width: 88px;
	height: 20px;
	border: 1px solid gray;
	cursor: pointer;
	border-radius: 6px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	background-color: #fff;
	float: left;
}

.settingsSubmit.large:hover {
	border-color: #000;
	color: #000;
}

.settingsSubmit.large.all-topics {
	margin-left: 48px;
	margin-bottom: 9px;
	margin-top: 72px;
	margin-right: 0px;
	width: 88px;
	height: 20px;
	border: 1px solid gray;
	cursor: pointer;
	border-radius: 6px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	background-color: #fff;
	float: left;
}

.settingsSubmit.large.all-topics:hover {
	border-color: #000;
	color: #000;
}

.closeSettingsGroup.large {
	margin-bottom: 0;
	width: 88px;
	margin-top: 188px;
	margin-left: 7px;
	height: 20px;
	border: 1px solid gray;
	cursor: pointer;
	border-radius: 6px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	background-color: #fff;
	float: left;
}

.closeSettingsGroup.large:hover {
	border-color: #000;
	color: #000;
}

.closeSettingsGroup {
	margin-bottom: 10px;
	width: 88px;
	margin-top: 4px;
	height: 20px;
	border: 1px solid gray;
	cursor: pointer;
	border-radius: 6px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	background-color: #fff;
}

.closeSettingsGroup.large.all-topics {
	margin-bottom: 0;
	width: 88px;
	margin-top: 72px;
	margin-left: 7px;
	height: 20px;
	border: 1px solid gray;
	cursor: pointer;
	border-radius: 6px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	background-color: #fff;
	float: left;
}

.closeSettingsGroup.large.all-topics:hover {
	border-color: #000;
	color: #000;
}

.article-list {
	width: 704px;
	display: inline-block;
	max-height: 790px;
	margin-left: 10px;
}

.article-categories {
	margin-left: 16px;
}

.article-categories li {
	margin-top: 8px;
}

.article-categories a {
	font-size: 30px;
	font-family: 'Cambria';
	color: #333;
	text-decoration: none;
}

.article-categories a:hover {
	color: #3b3ffd;
}

.article-li {
	border: 2px solid #979db8;
	border-radius: 10px;
	height: 105px;
	margin-top: 6px;
	overflow: hidden;
}

.article-li:hover {
	text-decoration: underline;
	cursor: pointer;
}

.article-li a {
	text-decoration: none;
	color: #333;
}

span.article-list-header {
	font-size: 24px;
	font-family: 'Cambria';
	color: #000;
	text-decoration: none;
	line-height: 100%;	
}

a.unbookmarkArticle {
	display: block;
	width: 10px;
	height: 15px;
	background: url(../i/closeButton2.png) no-repeat;
	background-size: 100%;
	margin-top: 11px;
}

a.unbookmarkArticle:hover {
	background: url(../i/closeButton1.png) no-repeat;
	background-size: 100%;
}

a.bookmarkArticle {
	display: block;
	width: 22px;
	height: 22px;
	background: url(../i/repostButton.png) no-repeat;
	background-size: 100%;
}

a.bookmarkArticle:hover {
	background: url(../i/repostButtonHover.jpg) no-repeat;
	background-size: 100%;
}

a.bookmarkArticle:active {
	background: url(../i/repostButtonClickActive.jpg) no-repeat;
	background-size: 100%;
}

a.bookmarkArticleActive{
	display: block;
	width: 22px;
	height: 22px;
	background: url(../i/repostButtonActive.jpg) no-repeat;
	background-size: 100%;
}

a.bookmarkArticleActive:hover{
	background: url(../i/repostButtonClickActive.jpg) no-repeat;
	background-size: 100%;
}

.article-notes-list li {
	height: 30px;
	border: 1px solid #495677;
	color: #333333;
	margin-top: 6px;
	border-radius: 5px;
	line-height: 160%;
	cursor: pointer;
}

.article-notes-list li:hover {
	border: 1px solid #495677;
	background-color: #e8fbff;
}



.article-notes-list {
	font-size: 19px;
	font-family: 'Cambria';
	color: #000;
	margin-left: 5px;
	width: 712px;
	max-height: 790px;
	overflow: auto;
}

.article-notes-list a {
	text-decoration: none;
}

.single-article {
	max-height: 785px;
	overflow: auto;
	margin-top: 10px;
}

.spamMessage {
	margin: 10px auto 0 auto;
	display: block;
	text-align: center;
	font-family: 'Cambria';
	font-size: 19px;
	color: #C63A3A;
}

.successful-reg {
    width: 510px; 
    height: 127px; 
    border: 2px solid #52648A; 
    margin: auto;
    position: relative;
    top: -170px;
    background-color: #fff;
    border-radius: 14px;
}

.successful-reg p {
    text-align: center;
	font-family: 'Candara';
	font-size: 24px;
	color: #000;
    margin-top: 15px;        
}

.close-confirmation {
    display: block;
    width: 36px;
    height: 36px;
    border: 2px solid #00A3D4;
    border-radius: 10px;
    margin: 10px auto;
    text-decoration: none;
    text-align: center;
    color: #333;
    font-size: 20px;
    line-height: 37px;
}

.close-confirmation:hover {
    background-color: #F8FBFE;
    color: #000;   
}

#send-message {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    background:  url(../i/sendMessage.png) no-repeat;
}

.admin-wrap {
    padding: 18px;
}
.admin-menu {
    margin-bottom: 15px;
    font-weight: bold;
}
.admin-menu a {
    font-weight: normal;
}

#questions_last_update {
    display: none;
}

#robo-submit {
    border: 1px solid #808080;
    width: 86px;
    height: 20px;
    float: right;
    cursor: pointer;
    border-radius: 6px;
    vertical-align: middle;
    text-align: center;
    font-family: 'Arial';
    font-size: 14px;
    background-color: #fff;
    margin: 0 8px 8px 10px;    
}

#robo-submit:hover {
    color: #000;
    border-color: #000000;
}

.pay-cancel {
    border: 1px solid #808080;
    width: 86px;
    height: 20px;
    float: right;
    cursor: pointer;
    border-radius: 6px;
    vertical-align: middle;
    text-align: center;
    font-family: 'Arial';
    font-size: 14px;
    background-color: #fff;
}

.toggle-pay-window {
    color: #495677;    
}

.toggle-pay-window:hover {
    color: #3b3ffd;   
}

.forgotPassword-window {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 450px;
    margin-left: -350px;
    margin-top: -100px;
    padding: 3px 0 0 17px;
    border: 3px solid #556183;
    border-radius: 18px;
    background: #ffffff;
    z-index: 6;
}

.forgot-password-tittle {
	font-family: 'Cambria';
	font-size: 24px;
	color: #000;
    margin-left: 18px;    
}

#email {
    font-family: 'Cambria';
    font-size: 24px;
    display: block;
    width: 380px;
    height: 33px;
    border: 1px solid #5b6376;
    border-radius: 5px;
    margin-top: 3px;
    padding-left: 8px;
}

.forgot-explanation {
    font-family: 'Cambria';
    font-size: 12px;
	color: #000; 
    margin-top: 6px;
    margin-left: 15px;    
}

.forgot-submit {
    float: right;
    width: 88px;
    height: 20px;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 6px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    background-color: #fff;
    margin-top: 4px;
}

.forgot-cancel {
    display: block;
    float: right;
    width: 88px;
    height: 18px;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 6px;
    vertical-align: middle;
    text-align: center;
    background-color: #fff;
    font-family: 'Arial';
    font-size: 15px;
    color: #333;
    text-decoration: none;
    margin: 4px 9px 6px 8px;
}

.forgot-cancel:hover {
    color: #000;
    border-color: #000000;    
}
