 
#wrapper {
	width: 960px;
	margin: 0 auto;
	outline: 1px solid #A33A1C;
	padding-top: 1px;
	overflow: hidden;
}

#header {
	width: 100%;
	overflow: hidden;

}

.logo {
	width: 300px;
	height: 80px;
	background: url(/i/logo.png) no-repeat;
	background-size: 100%;
	margin-top: 5px;
	float: left;
}

.logo a{
	display: block;
	width: 288px;
	height: 78px;	
	cursor: pointer;
}

.messagesFromAdministration {
	width: 185px;
	height: 79px;
	outline: 1px solid black;
	float: left;
	margin: 7px 0 0 10px;

}

.language {
	width: 90px;
	float: left;
	overflow: hidden;
	margin: 9px 0 0 550px;
	padding: 1px;
}

.russian {
	width: 26px;
	height: 26px;
	margin-right: 4px;
	outline: 1px solid #000;
	float: left;
	background: url(/i/russian.png) no-repeat;
	background-size: 100%;
}

.russian a {
	display: block;
	width: 26px;
	height: 26px;
	cursor: pointer;
}

.english {
	width: 26px;
	height: 26px;
	margin-right: 4px;
	outline: 1px solid #000;
	float: left;
	background: url(/i/english.png) no-repeat;
	background-size: 100%;
}

.english a {
	display: block;
	width: 26px;
	height: 26px;
	cursor: pointer;
}

.portuguese {
	width: 26px;
	height: 26px;
	margin-right: 4px;
	outline: 1px solid #000;
	float: left;
	background: url(/i/portuguese.png) no-repeat;
	background-size: 100%;
}

.portuguese a {
	display: block;
	width: 26px;
	height: 26px;
	cursor: pointer;
}

.users {
	width: 232px;
	float: right;
	margin: 10px 17px 0 0px;
	overflow: hidden;
}

.users p {
	text-align: right;
	margin: 0;
	padding: 0;
	font-family: 'Candara';
	font-size: 20px;
	color: #495677;
}

.users span {
	text-align: right;
	margin: 0;
	padding: 0;
	font-family: 'Cambria';
	font-size: 20px;
	color: #495677;
}

.users span.online {
	text-align: right;
	margin: 0;
	padding: 0;
	font-family: 'Candara';
	font-size: 20px;
	color: #495677;
	margin-right: 21px;
}

.users span.onSite {
	text-align: right;
	margin: 0;
	padding: 0;
	font-family: 'Candara';
	font-size: 20px;
	color: #495677;
}

#nav {
	width: 726px;
	height: 30px;
	border: 3px solid #A33A1C;
	border-radius: 7px;
	margin-top: 4px;
	float: left;
	overflow: hidden;
}

#nav .orderQuestions {
	width: 250px;
	height: 30px;
	border-right: 2px solid #A33A1C;
	float: left;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	line-height: 100%;
}

#nav .orderQuestions a {
	display: block;
	width: 235px;
	height: 30px;
	cursor: pointer;
	text-decoration: none;
	color: #383838;
	font-family: 'Candara';
	font-size: 24px;
}


#nav .categoryQuestions {
	width: 236px;
	height: 30px;
	border-right: 2px solid #A33A1C;
	float: left;
	font-size: 24px;
	text-align: center;
	line-height: 100%;
	background-color: #EFEFEF;
}

#nav .categoryQuestions a {
	display: block;
	width: 236px;
	height: 30px;
	cursor: pointer;
	text-decoration: none;
	color: #383838;
	font-family: 'Candara';
	font-size: 24px;
}

#nav .categoryQuestions a:hover {
	background-color: #FFB475;
}

#nav .expressQuestions {
	width: 236px;
	height: 30px;
	float: left;
	font-size: 24px;
	text-align: center;
	line-height: 100%;
	background-color: #EFEFEF/*#FFB475*/;
}

#nav .expressQuestions a {
	display: block;
	width: 236px;
	height: 30px;
	cursor: pointer;
	text-decoration: none;
	color: #383838;
	font-family: 'Candara';
	font-size: 24px;
}

#nav .expressQuestions a:hover {
	background-color: #FFB475;
}



.usersProfile {
	width: 220px;
	height: 90px;
	border: 3px solid #A33A1C;
	border-radius: 7px;
	float: right;
	margin-top: 4px;
}

.usersProfile p.name {
	display: block;
	width: 123px;
	height: 21px;
	margin: 5px 0 0 5px;
	float: left;
	color: #57526A;
	font-size: 18px;
}

.usersProfile p.credits {
	display: block;
	width: 62px;
	margin: 22px 0 0 5px;
	float: left;
	color: #52648A;
	text-align: center;
	line-height: 110%;
}

.usersProfile form.profileNavigation {
	width: 80px;
	float: right;
	text-align: right;
	margin-right: 5px;
	margin-top: 1px;
}

.usersProfile form.profileNavigation input {
	border: 1px solid gray;
	border-radius: 5px;
	background-color: #EFEFEF;
	cursor: pointer;
	font-weight: bold;
}

.usersProfile p.myQuestions {
	overflow: hidden;
	float: right;
}

.usersProfile p.myQuestions a {
	text-align: right;
	color: #526493;
	text-decoration: none;
	font-family: 'Candara';
	font-size: 16px;
}


#menu {
	width: 220px;
	height: 800px;
	border: 3px solid #A33A1C;
	border-radius: 7px;
	float: right;
	margin-top: 3px;
}

#menu ul.menuNavigation {
	width: 192px;
	margin: 10px auto;

}

#menu ul.menuNavigation li {
	width: 192px;
	height: 39px;
	text-align: center;
	line-height: 150%;
	border: 1px solid #EFEFEF;
	border-radius: 5px;
	margin-top: 2px;
	background-color: #fff;
	text-transform: uppercase;
	font-size: 26px;
	cursor: pointer;
	font-family: 'Cambria';
	color: #383838;
}

#menu ul.menuNavigation li a.menuNavigationLink {
	text-transform: uppercase;
	font-size: 26px;
	cursor: pointer;
	font-family: 'Cambria';
	text-decoration: none;
	color: #383838;
}

#menu ul.menuNavigation li:hover {
	background-color: #FFDDDB;
}

#menu ul.menuNavigation li.chatInvite {
	width: 145px;
	height: 18px;
	text-align: center;
	margin-top: 5px;
	background-color: #EFEFEF;
	text-transform: uppercase;
	font-size: 14px;
	cursor: pointer;
	display: block;
	margin: 5px auto;
	font-family: 'Candara';
	color: #383838;
}

#menu ul.menuNavigation li.chatInvite:hover {
	background-color: #FFDDDB;
}

#menu ul.menuNavigation li ul.subMenuNavigation {
  display:none;
  position:absolute;
  z-index:100;
  width:180px;
  background-color: #FFDDDB;
  margin-left: 5px;
}

#menu ul.menuNavigation li:hover ul.subMenuNavigation  {
  display: block;
}

#menu ul.menuNavigation li ul.subMenuNavigation li {
	width: 180px;
	height: 18px;
	text-align: center;
	border: none;
	border-radius: none;
	background-color: #FFDDDB;
	cursor: pointer;
	line-height: 100%;
	font-size: 16px;
}

#menu ul.menuNavigation li ul.subMenuNavigation li a:hover {
	background-color: #FFDDDB;
	color: #0093CB;
}

#menu ul.menuNavigation li ul.subMenuNavigation li a {
	color: #383838;
	text-decoration: none;
	cursor: pointer;
	text-transform: none;
	font-family: 'Cambria';
	font-size: 16px;
}


.menuCategory {
	width: 155px;
	height: 50px;
	overflow: hidden;
	margin: 0 auto;
	border: 2px solid #EF5928;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	color: #999999;
	background-color: #FFCEC9;
	position: relative;
	top: 0;
	left: 0;
}

.menuCategory a {
	color: #000;
}


#main {
	width: 720px;
	min-height: 800px;
	margin: -40px 0 0 5px;
	float: left;
    position: relative;
}

#main form.writeQuestion {
	margin: 0px auto 0 auto;
	width: 700px;
	overflow: hidden;
	font-family: 'Cambria';
	font-size: 16px;

}

#main form.writeQuestion textarea {
	width: 680px;
	height: 29px;
	border: 3px solid #A33A1C;
	font-size: 24px;
	padding: 0;
	padding-left: 8px;
	overflow: hidden;
	margin: 0;
    resize: none;
}

.noscroll {
    overflow: hidden;
}



.hiddenWriteQuestion {
    display: none;
    white-space: pre-wrap;
	width: 680px;
	min-height: 29px;
    font-size: 15px;
	padding-left: 8px;
    word-wrap: break-word;
	padding: 5px;
	margin: 0;
}

.questionForm {
	margin: 0 auto;
	height: 35px;
	width: 692px;
}


.questionForm textarea {
	margin: 0;
}


#questionsType {
	width: 680px;
	height: 24px;
	padding-top: 5px;
	border-bottom: 2px solid #A33A1C;
	border-left: 2px solid #A33A1C;
	border-right: 2px solid #A33A1C;
	overflow: hidden;
	margin: 0 auto;
}

#questionsType label {
	font-size: 18px;
	font-family: 'Cambria';
	color: #000;
}



.writeQuestionDiv {
	width: 680px;
	border-bottom: 2px solid #A33A1C;
	border-left: 2px solid #A33A1C;
	border-right: 2px solid #A33A1C;
	margin: 0 auto;
	font-size: 18px;
	overflow: hidden;
}

.writeQuestionDiv input.radioButton {
	margin-left: 15px;

}

#main form.writeQuestion input.radioButton {
	border: 0;	
}

#main form.writeQuestion input.submitButton {
	border: 1px solid #808080;
	width: 86px;
	height: 20px;
	float: right;
	margin-right: 11px;
	cursor: pointer;
	border-radius: 6px;
	margin-bottom: 7px;
	vertical-align: middle;
	text-align: center;
	margin-top: 57px;
	font-family: 'Arial';
	font-size: 14px;
	background-color: #fff;
}

#main form.writeQuestion input.submitButton:hover {
	border: 1px solid #000;
}

#categoryScripture {
	font-size: 18px;
	font-family: 'Cambria';
	color: #000;
}

.privateButton {
	float: right;
	margin-right: 5px;
}


.privateButton label {
	float: none;
	display: inline;
	font-family: 'Cambria';
	font-size: 18px;
	color: #000;
	float: right;
}

p.questionPrivateCost {
	margin: -15px 0px 0 -125px;
	font-family: 'Arial';
	font-size: 12px;
	color: #000;
}

.category {
	margin-top: 5px;
	overflow: hidden;
	width: 220px;
	float: left;
	padding-left: 10px;
}

.category label {
	display: block;	
}

.category input  {
	display: block;
	float: left;
}

.rushWrapper {
	width: 404px;
	overflow: hidden;
	margin-left: 276px;
}

.chosePlace {
	width: 273px;
	float: left;
	margin-left: 25px;
	overflow: hidden;
}

.chosePlace label {
	display: block;
	margin-top: 8px;
	margin-left: 5px;
}

.chosePlace select {
	width: 270px;
	margin-top: 5px;
	border: 1px solid #52648A;
}

.additionalInformation {
	width: 332px;
	font-size: 14px;
	float: right;
	margin-top: 10px;
	margin-right: 53px;
}

.additionalInformation label {
	font-family: 'Cambria';
	font-size: 18px;
	color: #000;
}


.additionalInformation select {
	display: block;
}

p.questionCost {
	display: block;
	width: 189px;
	float: right;
	margin: -20px 146px 0 0;
	font-family: 'Arial';
	font-size: 18px;
	color: #000;
}

h2.categoryH2 {
	font-size: 24px;
	margin-left: 17px;
	margin-top: -2px;
	color: #7A2116;
	text-transform: uppercase;
}

.greeting {
	font-size: 14px;
	font-family: 'Tahoma';
	text-align: center;
	margin-top: 15px;
}


.singleQuestion {
	width: 709px;
	border: 1px solid #965565;
	border-radius: 7px;
	margin: 10px auto 0px auto;
	overflow: hidden;
}

.userName {
	width: 101px;
	border: 1px solid #965565;
	margin-left: 8px;
	text-align: center;
	color: #686868;
	float: left;
	border-radius: 0 0 5px 5px;
	font-size: 13px;
}

.questionDate {
	width: 105px;
	float: left;
	overflow: hidden;
	font-size: 13px;
	margin-left: 482px;
	margin-right: 0;
	color: #7e7f7f;
	font-family: 'Cambria';
	font-size: 10px;
	margin-top: 3px;		
}

.closeButton {
	width: 11px;
	height: 10px;
	float: left;
	background: url(/i/closeButton.png) no-repeat;
	background-size: 100%;
	margin-left: -5px;
	cursor: pointer;
	margin-top: 3px;
}

.questionText{
	display: block;
	width: 676px;
	margin: 3px 0 0px 5px;
	overflow: hidden;
	font-family: 'Cambria';
	font-size: 14px;
}

.socialIcons {
	width: 144px;
	overflow: hidden;
	float: right;
}

.actionButton {
	overflow: hidden;
	float: right;
}

.actionButton form.answer {
	margin-top: 7px;
}

.actionButton form.answer input {
	width: 86px;
	height: 20px;
	border: 1px solid #C6C6C6;
	cursor: pointer;
	border-radius: 3px;
	margin-bottom: 5px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;

}

.actionButton form.answer input.answerButtonItalic {
	width: 91px;
	height: 20px;
	border: 1px solid #C6C6C6;
	cursor: pointer;
	border-radius: 3px;
	margin-bottom: 5px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	font-style: italic;
}

.spamButton {
	width: 25px;
	height: 22px;
	float: left;
	background: url(/i/spamButton.png) no-repeat;
	background-size: 100%;
	cursor: pointer;
	margin-right: 3px;
}

.likeButton {
	width: 18px;
	height: 22px;
	float: left;
	background: url(/i/likeButton.png) no-repeat;
	background-size: 100%;
	cursor: pointer;
	margin-right: 3px;
}

.repostButton {
	width: 22px;
	height: 22px;
	float: left;
	background: url(/i/repostButton.png) no-repeat;
	background-size: 100%;
	margin-top: 2px;
	cursor: pointer;
	margin-right: 3px;
}

.arrowButton {
	width: 22px;
	height: 22px;
	float: left;
	background: url(/i/chat2.jpg) no-repeat;
	background-size: 100%;
	cursor: pointer;
	margin-right: 3px;
}

.letterButton {
	width: 22px;
	height: 22px;
	float: left;
	background: url(/i/mes2.jpg) no-repeat;
	background-size: 100%;
	margin-top: 2px;
	cursor: pointer;
	margin-right: 3px;
}

.socialIcons form.answer {
	width: 70px;
	height: 15px;
	float: left;
	margin-top: 2px;
}

.socialIcons form.answer input {
	width: 70px;
	height: 15px;
	border: 1px solid gray;
	margin: 0;
	cursor: pointer;
	border-radius: 6px;
	margin-bottom: 5px;
	vertical-align: middle;
	text-align: center;
	font-size: 10px;
}

.chatWindow {
	width: 723px;
	height: 20px;
	border: 2px solid #A33A1C;
	margin: -23px 0 0 5px;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	color: #52648A;
	cursor: pointer;
}

.chatWindow span {
	display: block;
	width: 120px;
	float: left;
	text-align: center;
	margin-left: 262px;
}

.chatUpButton {
	width: 15px;
	height: 20px;
	background: url(../i/UpChat.png) no-repeat;
	cursor: pointer;
	float: left;
	margin-left: 20px;
}

.chatWrapper {
	width: 730px;
	height: 270px;
	position: fixed;
	bottom: 0px;
	z-index: 5;
	background: #ffffff;
}

.openChat {
	width: 730px;
	height: 270px;
	border: 2px solid #CC2A03;
	border-radius: 8px;
	z-index: 5;
	background: #ffffff;
}

.closeChat {
	width: 13px;
	height: 13px;
	float: right;
	margin: 10px 14px 0 0;
	background: url(../i/closeDialogs.png) no-repeat;
	cursor: pointer;
    z-index: 1;
}


.registerWrapper {
	position: relative;
	top: -147px;
	left: -5px;
	z-index: 1000;
}

.registerForm {
	width: 937px;
	border: 2px solid #52648A;
	border-radius: 7px;
	margin: 0 auto;
	padding: 10px;
	background-color: #fff;
}

h2.registrationH2 {
	font-size: 26px;
	margin-left: 30px;
	margin-bottom: 10px;
	display: block;
	width: 142px;
	float: left;
	color: #7A2116;
	text-transform: uppercase;
}

h3.registrationH3 {
	margin-left: 162px;
	margin-top: 9px;
	display: block;
	float: left;
	font-family: 'Arial';
	font-size: 18px;
	color: #828282;
}

.registrationField {
	width: 100%;
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 25px;
	position: relative;
}

.registrationField label {
	margin-left: 5px;
	margin-top: 20px;
	font-size: 24px;
	color: #52648A;
	float: left;
	font-family: 'Cambria';
}

.registrationField input {
	height: 27px;
	border: 1px solid #52648A;
	border-radius: 3px;
	margin-top: 20px;
	width: 495px;
	font-size: 20px;
	font-family: 'Arial';
	float: right;
	margin-right: 217px;
	padding-left: 5px;
}

.registrationField select {
	
}

span.fieldHelp {
	display: block;
	font-size: 14px;
	margin: 17px 0 0 220px;
	color: #828282;
	font-family: 'Arial';
	text-align: left;
}


.registrationFieldPass{
	width: 100%;
	overflow: hidden;
	margin-top: -19px;
	position: relative;
}

.registrationFieldPass input {
	border: 1px solid #52648A;
	border-radius: 3px;
	margin-top: 35px;
	margin-bottom: 20px;
	width: 500px;
	font-size: 18px;
	float: right;
	margin-right: 217px;
}

.registrationFieldPass label {
	margin-left: 5px;
	margin-top: 20px;
	color: #52648A;
	float: left;
	font-size: 24px;
	font-family: 'Cambria';
}

span.fieldHelpPass {
	display: block;
	line-height: 100%;
	position: relative;
	width: 415px;
	font-size: 14px;
	overflow: hidden;
	top: -98px;
	left: 217px;
	color: #828282;
	font-family: 'Arial';
	text-align: left;
}

span.checkPassword {
	display: block;
	line-height: 100%;
	position: relative;
	width: 415px;
	font-size: 14px;
	overflow: hidden;
	top: -40px;
	left: 221px;
	font-family: 'Arial';
	font-size: 14px;	
}

span.birtDateDescription {
	width: 142px;
	overflow: hidden;
	position: relative;
	top: 4px;
	left: 59px;
	font-size: 16px;
	font-family: 'Cambria';
	color: #52648A;
}

.birthDateSelect {
	overflow: hidden;
	width: 198px;
	height: 30px;
	float: right;
	margin-right: 511px;
	margin-top: 2px;
}

.genderRadio {
	display: block;
	width: 121px;
	overflow: hidden;
	float: right;
	margin-right: 606px;
	margin-top: 21px;
}


.registrationFieldGender {
	width: 100%;
	overflow: hidden;
	margin-top: -26px;
	position: relative;
}

.genderLabel {
	overflow: hidden;
	display: block;
	width: 50px;
	height: 25px;
	margin-top: 25px;
	float: left;
}
.registrationFieldGender label {
	display: block;
	color: #52648A;
	font-size: 24px;
	font-family: 'Cambria';
	margin-top: -2px;
}

.registrationFieldGender input {
	float: left;
	display: block;
	margin-top: 5px;
}

.registrationFieldPlace {
	width: 100%;
	position: relative;
}

span.placeLabel {
	display: block;
	float: left;
	width: 130px;
	font-size: 24px;
	color: #52648A;
	font-family: 'Cambria';
	margin-right: 15px;
	margin-left: 5px;
}

.placeSelects {
	width: 130px;
	float: left;
	margin-left: 78px;
	margin-top: -13px;	
}

.placeSelects label {
	font-family: 'Cambria';
	font-size: 16px;
	color: #495677;
}

.registrationFieldPlace select {
	display: block;
	width: 272px;
	margin-bottom: 6px;
}

span.agreementLabel {
	display: block;
	float: left;
	margin: 16px 0 0 4px;
	font-size: 24px;
	color: #52648A;
	font-family: 'Cambria';
}

span.agreementLabel a {
	text-decoration: underline;
	color: #52648A;	
	cursor: pointer;
	display: inline-block;
	height: 22px;
}

span.agreementLabel a:hover {
	text-decoration: none;
}

.emailError {
	font-family: 'Arial';
	font-size: 18px;
	color: #ff5151;
	width: 225px;
	display: block;
	position: absolute;
	left: 725px;
	top: 24px;
	margin: 0;
	padding: 0;
}

.nickError {
	font-family: 'Arial';
	font-size: 18px;
	color: #ff5151;
	position: absolute;
	right: 51px;
	top: 25px;
	margin: 0;
	padding: 0;
}

.genderError {
	font-family: 'Arial';
	font-size: 18px;
	color: #ff5151;
	position: absolute;
	right: 455px;
	top: 36px;
	margin: 0;
	padding: 0;
}

.countryError {
	font-family: 'Arial';
	font-size: 18px;
	color: #ff5151;
	position: absolute;
	right: 273px;
	top: 5px;
	margin: 0;
	padding: 0;
}

.stateError {
	font-family: 'Arial';
	font-size: 18px;
	color: #ff5151;
	position: absolute;
	right: 273px;
	top: 49px;
	margin: 0;
	padding: 0;
}
.cityError {
	font-family: 'Arial';
	font-size: 18px;
	color: #ff5151;
	position: absolute;
	right: 273px;
	top: 94px;
	margin: 0;
	padding: 0;
}

.agreementError {
	font-family: 'Arial';
	font-size: 18px;
	color: #ff5151;
	position: absolute;
	right: 66px;
	top: 4px;
	margin: 0;
	padding: 0;
}

.passwordError {
	font-family: 'Arial';
	font-size: 18px;
	color: #ff5151;
	position: absolute;
	right: 66px;
	top: 4px;
	margin: 0;
	padding: 0;	
}

.agreementError ul {
	display: block;
	width: 172px;
	height: 62px;
}

input.registerButton {
	width: 330px;
	height: 50px;
	background: #fff;
	border: 2px solid #00A3D4;
	border-radius: 12px;
	cursor: pointer;
	font-size: 26px;
	display: block;
	margin: 0 auto;
	text-transform: uppercase;
}

input.registerButton:hover {
	border: 2px solid #00A3D4;
	background-color: #F8FBFE;
}

#username {
	width: 120px;
	height: 17px;
	border: 1px solid #A02B1C;
	border-radius: 5px;
	display: block;
	margin: 5px 0 0 5px;
}

#password {
	width: 120px;
	height: 17px;
	border: 1px solid #A02B1C;
	border-radius: 5px;
	display: block;
	margin: 5px 0 0 5px;
}

.enterButton {
	width: 70px;
	border: 1px solid gray;
	border-radius: 5px;
	background-color: #EFEFEF;
	cursor: pointer;
	position: relative;
	top: -47px;
	left: 139px;
	font-size: 18px;
	font-family: 'Cambria';
	padding: 0;
	height: 22px;
}

.registerButtonOnIndex {
	width: 90px;
	border: 1px solid gray;
	border-radius: 5px;
	background-color: #EFEFEF;
	cursor: pointer;
	font-size: 12px;
	position: relative;
	top: -43px;
	left: 129px;
	font-family: 'Cambria';
	font-size: 14px;
	padding: 0;
	height: 21px;
}

a.forgotPassword {
	margin: 0;
	display: block;
	width: 133px;
	margin-top: -10px;
	margin-left: auto;
	margin-right: auto;	
	color: #52648A;
	text-decoration: none;
	font-size: 18px;
	font-family: 'Cambria';
}

a.forgotPassword:hover {	
	color: #0093CB;
}

a.closeRegisterButton {
	display: block;
	width: 18px;
	height: 19px;
	float: right;
	background: url(/i/closeRegisterButton.png) no-repeat;
}

#terms {
	border-radius: 7px;
	border: 2px solid #52648A;
} 

#terms h5 {
	text-align: center;
	font-weight: bold;
}

#terms p.pCenter {
	text-align: center;
}

.answerForm {
	width: 662px;
	margin: 0 0 0 13px;
}

.answerTextarea {
	width: 100%;
	border: 1px solid #965565;
	height: 64px;
	resize: none;
	font-size: 15px;
	outline: none;
}

.answerFormNavigation {
	width: 666px;
	border-bottom: 1px solid #965565;
	border-right: 1px solid #965565;
	border-left: 1px solid #965565;
	height: 23px;
	margin: -3px 0 0 0px;
}

.answerFormNavigation input {
	width: 88px;
	height: 20px;
	border: 1px solid gray;
	margin: 0 15px 0 0;
	cursor: pointer;
	border-radius: 8px;
	margin-bottom: 5px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	float: right;
}

.myAnswer {
	width: 690px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid #965565;
	margin: 0 auto;
}

.singleAnswer {
	margin: 6px 0 0 5px;
	width: 665px;
	border: 1px solid #965565;
	border-radius: 7px;
	overflow: hidden;
}

.answerDate {
	width: 105px;
	float: left;
	overflow: hidden;
	margin-left: 438px;
	color: #7e7f7f;
	font-family: 'Cambria';
	font-size: 10px;
}

#progress {
	float: left;
	border-top: 2px solid #52648A;
	border-bottom: 2px solid #52648A;
	border-left: 2px solid #52648A;
	border-radius: 5px 0 0 5px;
	width: 571px;
	position: relative;
	margin: 5px 0 0 7px;
	overflow: hidden;
}
#progress .bar {
	height: 35px;
	background: #d2ecff;
}
#progress .file-name {
	position: absolute;
	top: 8px;
	left: 5px;
	color: #000000;
	font-size: 20px;
}

#add-file-button{
	border: 2px solid #52648A;
	background-color: #EFEFEF;
	margin: 5px 0px 0 -3px;
	border-radius: 5px;
	height: 39px;
	width: 127px;
	color: #010101;
	font-size: 26px;
	font-family: 'Cambria';
	cursor: pointer;
}

.file-link-wrap {
	margin: 6px 0 0 11px;
	color: #383838;
	font-size: 20px;
	font-family: 'Cambria';
}

.file-link-wrap div {
	margin-bottom: 5px;
	color: #000;
	font-size: 24px;
	font-family: 'Cambria';
}

#d_clip_button {
	display: block;
	width: 24px;
	height: 25px;
	/*background: url('../i/copy1.png') no-repeat;*/
	float: left;
	margin: 3px 0 0 3px;
}

#d_clip_button a {
	display: block;
	width: 24px;
	height: 25px;
	background: url('../i/copy1.png') no-repeat;
	float: left;
	margin: 3px 0 0 3px;
}

#d_clip_button a:hover {
	background: url('../i/copy.png') no-repeat;
	display: block;
	width: 24px;
	height: 25px;
}


.total-size-wrap {
	margin: 31px 81px 0 0px;
	color: #52648A;
	font-size: 20px;
	font-family: 'Cambria';
	margin-bottom: 0px;
}

.my-files {
	clear: both;
	margin-top: 22px;
	margin-left: -15px;
}
.my-file {
	padding: 6px 0 1px 5px;
	margin: 8px auto 0 auto;
	border-radius: 4px;
	border: 1px solid #003580;
	width: 666px;
	height: 22px;
	overflow: hidden;
}
.my-file:hover {
	background: #f0f0f0;
}
.my-file.selected {
    background: #e8e8e8;
}
.my-file table td {
	vertical-align: top;
	color: #000;
	font-size: 21px;
	font-family: 'Cambria';
	width: 100px;
}

.download-my-file{
	border: 1px solid #C6C6C6;
	background-color: #EFEFEF;
	color: #383838;
	font-size: 18px;
	font-family: 'Cambria';
	cursor: pointer;
	border-radius: 3px;
	margin-top: -5px;
}
.delete-my-file {
	border: 1px solid #C6C6C6;
	background-color: #EFEFEF;
	color: #383838;
	font-size: 18px;
	font-family: 'Cambria';
	cursor: pointer;
	border-radius: 3px;
	margin-top: -5px;
}
.my-file input[type=button] {
	float: right;
}
.my-file-size {
	float: right;
}
#file-path-field {
	padding: 4px;
	width: 323px;
	border-radius: 3px;
	border: 1px solid #52648A;
	height: 22px;
	font-family: 'Cambria';
	font-size: 21px;
	color: #000;
	float: left;
}

.dialogsWrapper {
	width: 717px;
	margin: 0 auto;
	border: 2px solid #c85a3d;
    background: #ffffff;
	border-radius: 8px;
	height: 600px;
    position: absolute;
    left: 0;
    top: -10px;
}

h2.dialogTitle {	
	font-size: 26px;
	margin-left: 15px;
	margin-top: 10px;
	color: #ae361a;
	text-transform: uppercase;
}

.closeDialogWindow {
	width: 13px;
	height: 13px;
	float: right;
	margin: 16px 14px 0 0;	
}

.closeDialogWindow a {
	display: block;
	width: 13px;
	height: 13px;
	background: url(../i/closeDialogs.png) no-repeat;
	cursor: pointer;	
}

.singleDialog{
	width: 570px;
	height: 27px;
	border: 2px solid #bb8989;
	border-radius: 5px;
	margin: 12px 0 0 10px;
}
.singleDialog:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}
.dialogs-empty-text {
    padding: 17px;
}

.dialogUsername {
	width: 215px;
	height: 25px;
	color: #000;
	font-family: "Cambria";
	font-size: 24px;
	margin: 0px 0 0 5px;
	float: left;
}

.messagesAmount {
	width: 50px;
	font-family: "Cambria";
	font-size: 24px;
	color: #465173;
	float: left;
}

.closeDialogs {
	width: 13px;
	height: 13px;
	float: right;
	margin: 7px 8px 0 0;
}

.closeDialogs a {
	display: block;
	width: 13px;
	height: 13px;
	background: url(../i/closeDialogs.png) no-repeat;
	cursor: pointer;
}

.spamDialogs {
	width: 34px;
	height: 27px;
	float: right;
	margin-right: 5px;
}

.spamDialogs a {
	display: block;
	width: 34px; 
	height: 27px;
	background: url(../i/spamDialogs.png) no-repeat;
	cursor: pointer;
}

.chatInviteWindow {
	width: 660px;
	height: 300px;
	border: 2px solid #52648A;
    background: #ffffff;
	border-radius: 8px;
	margin: 0 auto;
    position: absolute;
    /*z-index: 6;*/
    top: 150px;
    left: 50%;
    margin-left: -330px;
}

.closeInviteWindow {
	width: 13px;
	height: 13px;
	float: right;
	margin: 10px 14px 0 0;	
}
.closeInviteWindow a {
	display: block;
	width: 13px;
	height: 13px;
	background: url(../i/closeDialogs.png) no-repeat;
	cursor: pointer;		
}

h2.chatInviteTitle{
	font-size: 26px;
	color: #7A2116;
	font-family: "Cambria";
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
	margin-top: 17px;
}

.singleInvite {
	width: 620px;
	height: 28px;
	border: 1px solid #52648A;
	border-radius: 5px;
	margin: 15px auto;
}
.invites-empty-text {
    padding: 17px;
}

.InviteUsername {
	width: 215px;
	height: 25px;
	color: #000;
	font-family: "Cambria";
	font-size: 24px;
	margin: 0px 0 0 5px;
	float: left;	
}

.singleInvite input {
	float: right;
	width: 116px;
	margin-right: 5px;
	border: 1px solid #C6C6C6;
	border-radius: 5px;
	background-color: #EFEFEF;
	font-family: 'Cambria';
	font-size: 17px;
}

.chatTabs {
	width: 689px;
	margin: 4px auto;
	overflow: hidden;
}

.singleTab {
	width: 118px;
	height: 24px;
	border: 2px solid #5d6787;
	border-radius: 5px 5px 0 0;
	font-size: 18px;
	font-family: 'Cambria';
	color: #000;
	text-align: center;
	text-transform: uppercase;
	line-height: 150%;
	cursor: pointer;
	float: left;
    position: relative;
}
.closeDialogTab {
    background: url(../i/closeDialogs.png);
    /*display: block;*/
    width: 13px;
    height: 13px;
    position: absolute;
    right: 2px;
    top:5px;
    display: none;
}
.singleTab:hover .closeDialogTab, .singleTab.active .closeDialogTab {
    display: block;
}

.singleInboxTab {
	/*width: 224px;*/
	height: 24px;
	border: 2px solid #5d6787;
	border-radius: 5px 5px 0 0;
	text-align: left;
	/*cursor: pointer;*/
	float: left;
	margin-left: 1px;
	padding-left: 3px;
	padding-right: 5px;
}

.singleInboxTab span {
	display: block;
	width: 139px;
	height: 19px;
	font-size: 18px;
	font-family: 'Cambria';
	color: #000;
	text-transform: uppercase;
	margin-top: 5px;
	margin-left: 4px;
	float: left;
}

.numberOnTab {
	width: 18px;
	height: 18px;
	float: left;
	border: 1px solid #adc7de;
	border-radius: 4px;
	background-color: #fff;
	text-align: center;
	color: #adc7de;
	font-family: 'Cambria';
	margin: 3px 0 0 3px;
	font-size: 18px;
    cursor: pointer;
}
.chat-tab.active {
    border-color: #000000;
}

.numberOnTab:hover {
	border: 1px solid #646e89;
	border-radius: 4px;
	background-color: #e8f2f3;
	color: #425073;
	font-family: 'Cambria';
}

.mainWindow{
	margin: 0 auto;
	width: 727px;
	overflow: hidden;
}

.chat {
	/*width: 597px;*/
    width: 723px;
	height: 162px;
	float: left;
	overflow-y: scroll;
	border: 2px solid #465176;
}

.singleMessage {
	/*width: 575px;*/
	border: 1px solid #cadced;
	border-radius: 5px;
	margin-bottom: 2px;
}

.chatUsername {
	width: 88px;
	height: 11px;
	overflow: hidden;
	border: 1px solid #e0eaf5;
	text-align: center;
	border-radius: 3px;
	font-family: 'Cambria';
	font-size: 11px;
	line-height: 105%;
	margin-left: 3px;
}

.messageText {
	font-family: 'Cambria';
	font-size: 19px;
	margin-left: 3px;
	margin-bottom: 3px;
}

.usersInChat {
	width: 123px;
	height: 159px;
	float: left;
	margin-left: 3px;
	overflow: hidden;
}

.singleUser {
	width: 120px;
	height: 19px;
	border: 1px solid #9198b1;
	border-radius: 2px;
	margin-bottom: 2px;
}

.singleUsername {
	margin-top: 3px;
	margin-left: 3px;
	width: 101px;
	font-size: 13px;
	font-family: 'Cambria';
	overflow: hidden;
	float: left;
}

.kickUser{
	width: 13px;
	height: 13px;
	background: url(../i/kickUser.png) no-repeat;
	float: left;
	margin: 3px 0 0 0;
	cursor: pointer;
}

.typeText {
	width: 728px;
	height: 56px;
	margin: 0 auto;
}

.enterArea{
	width: 586px;
	height: 56px;
	margin-top: 2px;
	float: left;
}

.enterArea textarea {
	width: 582px;
	height: 31px;
	border: 2px solid #989eb7;
	border-radius: 2px;
	font-size: 19px;
	font-family: 'Cambria';
	resize: none;
}

.enterArea input {
	float: right;
	margin-top: 5px;
}

.switch {
	width: 27px;
	height: 19px;
	background: url(../i/switch.png) no-repeat;
	float: right;
	margin-right: 10px;
}

.finishConversation {
	float: left;
	width: 115px;
}

.finishConversation input {
	width: 118px;
	height: 42px;
	border: 1px solid #dee0e3;
	background-color: #f0f0f1;
	border-radius: 5px;
	font-size: 19px;
	font-family: 'Cambria';
	line-height: 90%;
	cursor: pointer;
	margin: 0px 0 0 14px;
}
